In [1]:
import requests #to request to the web site from where you want to do scrapping
import bs4 #for beautiful soup
import pandas as pd
import numpy as np

In [2]:
#res variable is holding the request (res variable will store entire webpage)
res = requests.get('https://www.screener.in/company/GAYAHWS/consolidated/')

In [3]:
soup = bs4.BeautifulSoup (res.text, 'lxml')
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8"/>
  <title>
   Gayatri Highways Ltd - financial results and price chart - Screener
  </title>
  <meta content="Screener provides 10 years financial data of listed Indian companies. It provides tools to find and analyse new stock ideas." name="description"/>
  <meta content="Mittal Analytics Private Limited" name="author"/>
  <!-- Mobile Specific Meta -->
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <!-- Google Tag Manager -->
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KG8ZGC4');
  </script>
  <!-- End Google Tag Manager -->
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"/>
  <link href="/static/fontello/css/fontello.ae80ff8e982d.css" rel="stylesheet"/>
  <!-- CSS -->
  <link href="/static/css/normalize.fda27b856c2e.css" rel="stylesheet"/>
  <link href="/static/css/skeleton.4c34ae68a491.css" rel="stylesheet"/>
  <link href="/static/css/custom.3a45e643cf11.css" rel="stylesheet"/>
  <!-- Favicon -->
  <link href="/static/img/favicon.4954d9b67008.png" rel="icon" type="image/png"/>
  <style>
   tr[data-row-company-name="Gayatri Highways"] {
    font-weight: 600;
  }

  tr[data-row-company-name="Gayatri Highways"] a {
    color: #222;
  }
  </style>
 </head>
 <body id="top">
  <dialog class="flex-column" id="modal">
   <div class="flex-row-sm flex-baseline" id="modal-header">
    <button onclick="Modal.close()">
     <i class="icon-left-thin">
     </i>
    </button>
    <div id="modal-title">
    </div>
    <div class="flex-filler">
    </div>
    <button onclick="Modal.close()">
     <i class="icon-cancel">
     </i>
     Close
    </button>
   </div>
   <div id="modal-content">
   </div>
  </dialog>
  <nav class="u-full-width no-print top-nav-holder">
   <div class="container">
    <div class="top-navigation">
     <div class="top-nav-controls">
      <button aria-label="Show Navigation Menu" class="button-link nav-item" id="top-nav-menu-button">
       <i class="icon-menu bigger">
       </i>
      </button>
      <a href="/">
       <img alt="Screener Logo" class="logo" src="/static/img/logo-nav.66821a39000d.svg"/>
      </a>
      <button aria-label="Goto Company Search" class="button-link nav-item" id="top-nav-search-button">
       <i class="icon-search bigger">
       </i>
      </button>
      <div id="top-nav-search">
       <div class="has-addon right-addon">
        <i class="addon icon-search">
        </i>
        <input aria-label="Search Company" autocomplete="off" class="u-full-width" data-company-search="true" placeholder="Company search..." spellcheck="false" type="search"/>
       </div>
      </div>
     </div>
     <div class="top-nav-space">
     </div>
     <div id="top-nav-menu">
      <a class="nav-item" href="/features/">
       Features
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/screens/">
       Screens
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/premium/">
       Premium
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/login/">
       Login
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/register/">
       Register
      </a>
     </div>
    </div>
   </div>
  </nav>
  <main>
   <div class="container" id="content-area">
    <div class="flex-row flex-baseline flex-space-between" data-company-id="1274372" data-consolidated="true" data-warehouse-id="22022023" id="company-info">
     <h1 class="no-margin">
      Gayatri Highways Ltd
     </h1>
     <form class="no-margin flex" method="POST">
      <input name="csrfmiddlewaretoken" type="hidden" value="e6ccGp1ME1XSQHfpfg7rOpPtDIiBsZonEsQEWyA3qIRv6VWkFwnwFmtrdQWY12TX"/>
      <input name="next" type="hidden" value="/company/GAYAHWS/consolidated/"/>
      <button class="button-text no-margin" formaction="/user/company/export/22022023/">
       <i class="icon-download">
       </i>
       <span class="hide-on-mobile">
        Export to Excel
       </span>
      </button>
      <div class="new-stack" id="add-to-sublists">
       <button class="button-primary no-margin" formaction="/api/company/1274372/add/">
        <i class="icon-plus">
        </i>
        Follow
       </button>
       <div class="ease-visibility invisible" id="company-in-sublists">
       </div>
      </div>
     </form>
    </div>
    <p class="sub bigger" id="company-profile">
     Gayatri Highways Limited is engaged in construction and project activities. It executes civil works, including roads, canals, airport runways, ports and harbors, dams and reservoirs, and railways across India.
    </p>
    <nav class="show-on-tablet" id="pseudo-scroll-aid-bar">
     <div class="sub-nav">
      <a class="active" href="#top">
       Gayatri Highways
      </a>
      <a href="#chart">
       Chart
      </a>
      <a href="#analysis">
       Analysis
      </a>
      <a href="#peers">
       Peers
      </a>
      <a href="#quarters">
       Quarters
      </a>
      <a href="#profit-loss">
       Profit &amp; Loss
      </a>
      <a href="#balance-sheet">
       Balance Sheet
      </a>
      <a href="#cash-flow">
       Cash Flow
      </a>
      <a href="#ratios">
       Ratios
      </a>
      <a href="#documents">
       Documents
      </a>
     </div>
    </nav>
    <nav class="show-on-tablet" id="fixed-scroll-aid-bar">
     <div class="sub-nav">
      <a href="#top">
       Gayatri Highways
      </a>
      <a href="#chart">
       Chart
      </a>
      <a href="#analysis">
       Analysis
      </a>
      <a href="#peers">
       Peers
      </a>
      <a href="#quarters">
       Quarters
      </a>
      <a href="#profit-loss">
       Profit &amp; Loss
      </a>
      <a href="#balance-sheet">
       Balance Sheet
      </a>
      <a href="#cash-flow">
       Cash Flow
      </a>
      <a href="#ratios">
       Ratios
      </a>
      <a href="#documents">
       Documents
      </a>
     </div>
    </nav>
    <section>
     <ul class="row-full-width" style="margin:0; list-style: none; padding-left: 0; font-size: 120%">
      <li class="four columns">
       Market Cap:
       <i class="icon-rupee">
       </i>
       <b>
        5.99
       </b>
       Cr.
      </li>
      <li class="four columns">
       Current Price:
       <i class="icon-rupee">
       </i>
       <b>
        0.25
       </b>
      </li>
      <li class="four columns">
       52 weeks High / Low
       <i class="icon-rupee">
       </i>
       <b>
        0.90
       </b>
       /
       <b>
        0.15
       </b>
      </li>
      <li class="four columns">
       Book Value:
       <i class="icon-rupee">
       </i>
       <b>
        -14.38
       </b>
      </li>
      <li class="four columns">
       Stock P/E:
       <b>
       </b>
      </li>
      <li class="four columns">
       Dividend Yield:
       <b>
        0.00
       </b>
       %
      </li>
      <li class="four columns">
       ROCE:
       <b>
        3.85
       </b>
       %
      </li>
      <li class="four columns">
       ROE:
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       Sales Growth (3Yrs):
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       Listed on
       <a data-tooltip="541546" href="https://www.bseindia.com/stock-share-price/gayatri-highways-ltd/GAYAHWS/541546/" target="_blank">
        <b>
         BSE
        </b>
       </a>
       and
       <a data-tooltip="GAYAHWS" href="https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=GAYAHWS" target="_blank">
        <b>
         NSE
        </b>
       </a>
      </li>
      <li class="four columns">
       <a data-tooltip="http://www.gayatrihighways.com" href="http://www.gayatrihighways.com" target="_blank">
        <b>
         Company Website
        </b>
       </a>
      </li>
      <li class="four columns">
       Face Value:
       <i class="icon-rupee">
       </i>
       <b>
        2.00
       </b>
      </li>
     </ul>
     <div class="u-cf">
     </div>
     <div id="quick-ratios-placeholder">
     </div>
     <div class="flex-row flex-baseline">
      <label for="quick-ratio-search" style="margin-right: 1rem">
       Add ratio:
      </label>
      <div>
       <input id="quick-ratio-search" placeholder="eg. Promoter holding" type="text"/>
      </div>
      <a class="grey-700" href="/user/quick_ratios/?next=/company/GAYAHWS/consolidated/" style="margin-left: 1rem">
       <i class="icon-pencil">
       </i>
       <span class="underline-link">
        Edit ratios
       </span>
      </a>
     </div>
    </section>
    <section id="chart" style="margin-bottom: 2.5rem">
     <div class="flex-row" id="chart-menu">
      <div class="options">
       <button class="button-link" data-set-chart-days="30" type="button">
        1m
       </button>
       <button class="button-link" data-set-chart-days="90" type="button">
        3m
       </button>
       <button class="button-link" data-set-chart-days="180" type="button">
        6m
       </button>
       <button class="button-link active" data-set-chart-days="365" type="button">
        1Yr
       </button>
       <button class="button-link" data-set-chart-days="1095" type="button">
        3Yr
       </button>
       <button class="button-link" data-set-chart-days="1825" type="button">
        5Yr
       </button>
       <button class="button-link" data-set-chart-days="10000" type="button">
        Max
       </button>
      </div>
      <div class="flex-filler">
      </div>
      <div class="options">
       <button class="button-link active" data-set-chart-metrics="Price-SMA50-SMA200-Volume" type="button">
        Price
       </button>
       <button class="button-link" data-set-chart-metrics="Price to Earning-Median PE-EPS" type="button">
        Price to Earning
       </button>
      </div>
     </div>
     <div class="flex-row flex-nowrap">
      <div class="hide-on-mobile chart-label">
       <div id="chart-label-left">
       </div>
      </div>
      <div id="chart-area" style="flex-grow: 1;">
       <div class="invisible" id="chart-info">
        <div id="chart-crosshair">
        </div>
        <div id="chart-tooltip">
         <div class="strong" id="chart-tooltip-title">
         </div>
         <div id="chart-tooltip-info">
         </div>
         <div class="grey-500" id="chart-tooltip-meta">
         </div>
        </div>
       </div>
       <div id="canvas-chart-holder">
       </div>
      </div>
      <div class="hide-on-mobile chart-label">
       <div id="chart-label-right">
       </div>
      </div>
     </div>
     <div id="chart-legend">
     </div>
    </section>
    <!-- 19 42 35 -->
    <section id="analysis" style="margin-bottom: 2.5rem">
     <div class="row row-full-width">
      <div class="six columns callout success">
       <div>
        <b>
         Pros:
        </b>
       </div>
      </div>
      <div class="six columns callout warning">
       <div>
        <b>
         Cons:
        </b>
       </div>
       <div>
        Company has low interest coverage ratio.
       </div>
       <div>
        Contingent liabilities of Rs.5406.91 Cr.
       </div>
       <div>
        Promoters have pledged 99.93% of their holding.
       </div>
      </div>
     </div>
    </section>
    <section id="peers">
     <h2>
      Peer comparison
      <small class="sub">
       Sector:
       <a href="/company/compare/00000016/">
        Construction
       </a>
       //
      Industry:
       <a href="/company/compare/00000016/00000031/">
        Construction
       </a>
      </small>
     </h2>
     <div id="peers-table-placeholder">
      Loading peers table ...
     </div>
     <div class="flex-row flex-baseline">
      <label for="search-peer-comparison" style="padding-right: 1rem">
       Detailed Comparison with:
      </label>
      <div>
       <input id="search-peer-comparison" placeholder="eg. Infosys" type="text"/>
      </div>
     </div>
    </section>
    <section id="quarters">
     <div class="flex-row" style="align-items: baseline;">
      <h2>
       Quarterly Results
       <small class="sub">
        Consolidated Figures in Rs. Crores
      /
        <a class="" href="/company/GAYAHWS/#quarters">
         View Standalone
        </a>
       </small>
      </h2>
      <div class="flex-filler">
      </div>
      <div>
      </div>
     </div>
     <div class="responsive-holder" data-result-table="">
      <table class="data-table responsive-text-nowrap">
       <thead>
        <tr>
         <th class="text">
         </th>
         <th>
          Jun 2018
         </th>
         <th>
          Sep 2018
         </th>
         <th>
          Dec 2018
         </th>
         <th>
          Mar 2019
         </th>
         <th>
          Jun 2019
         </th>
         <th>
          Sep 2019
         </th>
         <th>
          Dec 2019
         </th>
        </tr>
       </thead>
       <tbody>
        <tr class="stripe">
         <td class="text">
          <button class="no-style no-border no-margin no-padding no-bg hover-link" onclick="Company.showSchedule('Sales', 'quarters', this)" style="font-weight: inherit; text-align: left;">
           Sales
           <span class="blue-500">
            +
           </span>
          </button>
         </td>
         <td>
          29
         </td>
         <td>
          33
         </td>
         <td>
          30
         </td>
         <td>
          42
         </td>
         <td>
          42
         </td>
         <td>
          45
         </td>
         <td>
          44
         </td>
        </tr>
        <tr class="">
         <td class="text">
          <button class="no-style no-border no-margin no-padding no-bg hover-link" onclick="Company.showSchedule('Expenses', 'quarters', this)" style="font-weight: inherit; text-align: left;">
           Expenses
           <span class="blue-500">
            +
           </span>
          </button>
         </td>
         <td>
          11
         </td>
         <td>
          12
         </td>
         <td>
          10
         </td>
         <td>
          4
         </td>
         <td>
          9
         </td>
         <td>
          8
         </td>
         <td>
          7
         </td>
        </tr>
        <tr class="stripe strong">
         <td class="text">
          Operating Profit
         </td>
         <td>
          19
         </td>
         <td>
          21
         </td>
         <td>
          20
         </td>
         <td>
          38
         </td>
         <td>
          33
         </td>
         <td>
          37
         </td>
         <td>
          37
         </td>
        </tr>
        <tr class="">
         <td class="text">
          OPM %
         </td>
         <td>
          64%
         </td>
         <td>
          62%
         </td>
         <td>
          67%
         </td>
         <td>
          91%
         </td>
         <td>
          79%
         </td>
         <td>
          82%
         </td>
         <td>
          84%
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Other Income
         </td>
         <td>
          7
         </td>
         <td>
          2
         </td>
         <td>
          7
         </td>
         <td>
          -12
         </td>
         <td>
          5
         </td>
         <td>
          2
         </td>
         <td>
          3
         </td>
        </tr>
        <tr class="">
         <td class="text">
          Interest
         </td>
         <td>
          76
         </td>
         <td>
          69
         </td>
         <td>
          90
         </td>
         <td>
          108
         </td>
         <td>
          87
         </td>
         <td>
          88
         </td>
         <td>
          86
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Depreciation
         </td>
         <td>
          4
         </td>
         <td>
          4
         </td>
         <td>
          4
         </td>
         <td>
          5
         </td>
         <td>
          8
         </td>
         <td>
          8
         </td>
         <td>
          8
         </td>
        </tr>
        <tr class="strong">
         <td class="text">
          Profit before tax
         </td>
         <td>
          -55
         </td>
         <td>
          -51
         </td>
         <td>
          -67
         </td>
         <td>
          -87
         </td>
         <td>
          -56
         </td>
         <td>
          -57
         </td>
         <td>
          -54
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Tax %
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
         <td>
          -0%
         </td>
        </tr>
        <tr class="strong">
         <td class="text">
          Net Profit
         </td>
         <td>
          -55
         </td>
         <td>
          -51
         </td>
         <td>
          -67
         </td>
         <td>
          -87
         </td>
         <td>
          -56
         </td>
         <td>
          -57
         </td>
         <td>
          -54
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          EPS in Rs
         </td>
         <td>
          -2.56
         </td>
         <td>
          -2.27
         </td>
         <td>
          -2.96
         </td>
         <td>
          -4.20
         </td>
         <td>
          -2.31
         </td>
         <td>
          -2.59
         </td>
         <td>
          -2.55
         </td>
        </tr>
        <tr>
         <td class="text">
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for June 30, 2018" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201806/con/">
           Notes
          </a>
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for Sept. 30, 2018" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201809/con/">
           Notes
          </a>
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for Dec. 31, 2018" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201812/con/">
           Notes
          </a>
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for March 31, 2019" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201903/con/">
           Notes
          </a>
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for June 30, 2019" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201906/con/">
           Notes
          </a>
         </td>
         <td>
          <a aria-label="Quarter Notes" class="grey-600" data-open-in-modal="true" data-title="Notes for Sept. 30, 2019" data-tooltip="Notes to Accounts" href="/company/notes/1274372/201909/con/">
           Notes

In [4]:
title = soup.select('title')
title[0].getText()

'Gayatri Highways Ltd - financial results and price chart - Screener'

In [5]:
h1 = soup.select('h1')
c_name = h1[0].getText()
c_name = c_name.replace(' ','_')
c_name

'Gayatri_Highways_Ltd'

In [6]:
li = soup.select('li')
li[0].getText()

'\n    \n      Market Cap:\n      \n      \n5.99\n      \n      Cr.\n      \n    \n  '

In [7]:
b = soup.select('b')

for i,bb in enumerate(b):
    print(str(i)+") "+str(bb.getText()))

0) 5.99
1) 0.25
2) 0.90
3) 0.15
4) -14.38
5)
6) 0.00
7) 3.85
8)
9)
10) BSE
11) NSE
12) Company Website
13) 2.00
14) Pros:
15) Cons:

In [8]:
df_main_info = pd.DataFrame(columns=['value'])
for i in range(10):
    temp = b[i].getText()
    
    if temp == '':
        temp = float(np.nan)
    else:
        temp = float(temp)
        
    df_main_info.loc[len(df_main_info)] = temp

df_main_info = df_main_info.rename(index={0: 'Market Cap (cr)', 1:'Current Price (rs)', 2:'52 weeks High (rs)', 3:'52 weeks Low (rs)', 4:'Book Value (rs)', 5:'Stock P/E', 6:'Dividend Yield (%)', 7:'ROCE (%)', 8:'ROE (%)', 9:'Sales Growth (3Yrs) (%)'})

In [9]:
df_main_info

                         value
Market Cap (cr)           5.99
Current Price (rs)        0.25
52 weeks High (rs)        0.90
52 weeks Low (rs)         0.15
Book Value (rs)         -14.38
Stock P/E                  NaN
Dividend Yield (%)        0.00
ROCE (%)                  3.85
ROE (%)                    NaN
Sales Growth (3Yrs) (%)    NaN

In [10]:
temp=soup.select('a')

print(temp[10].getText())
print(temp[11].getText())
print(temp[12].getText())
print(temp[13].getText())
print(temp[14].getText())

Quarters
Profit & Loss
Balance Sheet
Cash Flow
Ratios

In [11]:
#find all html source of tables
temp=soup.find_all('th') #try td also

#to make list of tables in a html
all_headers = []

for i,t in enumerate(temp):
    print (str(i)+") "+str(t.getText()))
    all_headers.append(t.getText())

0)
1) Jun 2018
2) Sep 2018
3) Dec 2018
4) Mar 2019
5) Jun 2019
6) Sep 2019
7) Dec 2019
8)
9) Mar 2016
10) Mar 2017
11) Mar 2018
12) Mar 2019
13) TTM
14) Compounded Sales Growth
15) Compounded Profit Growth
16) Stock Price CAGR
17) Return on Equity
18)
19) Mar 2016
20) Mar 2017
21) Mar 2018
22) Mar 2019
23) Sep 2019
24)
25) Mar 2016
26) Mar 2017
27) Mar 2018
28) Mar 2019
29)
30) Mar 2016
31) Mar 2017
32) Mar 2018
33) Mar 2019

In [12]:
#removing unwanted words
all_headers_new = []

for t in all_headers:
    if t=='Compounded Sales Growth' or t=='Compounded Profit Growth' or t=='Stock Price CAGR' or t=='Return on Equity':
        print("skipping")
    else:
        all_headers_new.append(t)

skipping
skipping
skipping
skipping

In [13]:
all_headers_new

['',
 'Jun 2018',
 'Sep 2018',
 'Dec 2018',
 'Mar 2019',
 'Jun 2019',
 'Sep 2019',
 'Dec 2019',
 '',
 'Mar 2016',
 'Mar 2017',
 'Mar 2018',
 'Mar 2019',
 'TTM',
 '',
 'Mar 2016',
 'Mar 2017',
 'Mar 2018',
 'Mar 2019',
 'Sep 2019',
 '',
 'Mar 2016',
 'Mar 2017',
 'Mar 2018',
 'Mar 2019',
 '',
 'Mar 2016',
 'Mar 2017',
 'Mar 2018',
 'Mar 2019']

In [14]:
Quarters =        []
Profit_and_Loss = []
Balance_Sheet =   []
Cash_Flow =       []
Ratios =          []

count = 0
for h in all_headers_new:
    if h=='':
        count = count + 1
    else:
        if(count==1):
            Quarters.append(h)
        if(count==2):
            Profit_and_Loss.append(h)
        if(count==3):
            Balance_Sheet.append(h)
        if(count==4):
            Cash_Flow.append(h)
        if(count==5):
            Ratios.append(h)

In [15]:
#j2p
Balance_Sheet

['Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Sep 2019']

In [16]:
#create 5 empty data frames for 5 tables (and adding column name)
#adding rows and naming of rows are still left
df_Quarters = pd.DataFrame(columns=Quarters)
df_Profit_and_Loss = pd.DataFrame(columns=Profit_and_Loss)
df_Balance_Sheet = pd.DataFrame(columns=Balance_Sheet)
df_Cash_Flow = pd.DataFrame(columns=Cash_Flow)
df_Ratios = pd.DataFrame(columns=Ratios)

In [17]:
#j2p
df_Balance_Sheet

Empty DataFrame
Columns: [Mar 2016, Mar 2017, Mar 2018, Mar 2019, Sep 2019]
Index: []

In [18]:
#find all html source of tables
temp=soup.find_all('td') #try td also

#to make list of tables in a html
all_rows = []
additional_data_index = 0
flag = 0

for i,t in enumerate(temp):
    print (str(i)+") "+str(t.getText()))
    all_rows.append(t.getText())
    if(t.getText() == "10 Years:" and flag == 0):
        additional_data_index = i
        flag = 1

0)

            Sales +


1) 29
2) 33
3) 30
4) 42
5) 42
6) 45
7) 44
8)

            Expenses +


9) 11
10) 12
11) 10
12) 4
13) 9
14) 8
15) 7
16)

          Operating Profit


17) 19
18) 21
19) 20
20) 38
21) 33
22) 37
23) 37
24)

          OPM %


25) 64%
26) 62%
27) 67%
28) 91%
29) 79%
30) 82%
31) 84%
32)

          Other Income


33) 7
34) 2
35) 7
36) -12
37) 5
38) 2
39) 3
40)

          Interest


41) 76
42) 69
43) 90
44) 108
45) 87
46) 88
47) 86
48)

          Depreciation


49) 4
50) 4
51) 4
52) 5
53) 8
54) 8
55) 8
56)

          Profit before tax


57) -55
58) -51
59) -67
60) -87
61) -56
62) -57
63) -54
64)

          Tax %


65) -0%
66) -0%
67) -0%
68) -0%
69) -0%
70) -0%
71) -0%
72)

          Net Profit


73) -55
74) -51
75) -67
76) -87
77) -56
78) -57
79) -54
80)

          EPS in Rs


81) -2.56
82) -2.27
83) -2.96
84) -4.20
85) -2.31
86) -2.59
87) -2.55
88)
89)

              Notes


90)

              Notes


91)

              Notes


92)

              Notes


93)

              Notes


94)

              Notes


95)

              Notes


96)

            Sales +


97) 0
98) 0
99) 86
100) 130
101) 174
102)

            Expenses +


103) 0
104) 676
105) 215
106) 37
107) 28
108)

          Operating Profit


109) 0
110) -676
111) -128
112) 93
113) 146
114)

          OPM %


115)
116)
117) -149%
118) 71%
119) 84%
120)

          Other Income


121) 0
122) 676
123) 203
124) 9
125) -1
126)

          Interest


127) 0
128) 0
129) 247
130) 344
131) 370
132)

          Depreciation


133) 0
134) 0
135) 12
136) 18
137) 29
138)

          Profit before tax


139) 0
140) -0
141) -185
142) -260
143) -254
144)

          Tax %


145)
146) -0%
147) -0%
148) -0%
149)
150)

          Net Profit


151) 0
152) -0
153) -185
154) -260
155) -254
156)

          EPS in Rs


157)
158)
159) 0.00
160) 0.00
161) -11.65
162)

          Dividend Payout %


163)
164) -0%
165) -0%
166) -0%
167) 10 Years:
168) %
169) 5 Years:
170) %
171) 3 Years:
172) %
173) TTM:
174) 50.77%
175) 10 Years:
176) %
177) 5 Years:
178) %
179) 3 Years:
180) %
181) TTM:
182) -40.82%
183) 10 Years:
184) %
185) 5 Years:
186) %
187) 3 Years:
188) %
189) 1 Year:
190) -70.59%
191) 10 Years:
192) %
193) 5 Years:
194) %
195) 3 Years:
196) %
197) Last Year:
198) None%
199)

            Share Capital +


200) 0
201) 48
202) 246
203) 261
204) 48
205)

          Reserves


206) -0
207) -33
208) -166
209) -454
210) -393
211)

          Borrowings


212) 0
213) 2,396
214) 2,220
215) 2,243
216) 2,394
217)

            Other Liabilities +


218) 0
219) 416
220) 868
221) 1,097
222) 866
223)

          Total Liabilities


224) 0
225) 2,828
226) 2,970
227) 2,934
228) 2,916
229)

            Fixed Assets +


230) 0
231) 861
232) 2,697
233) 2,717
234) 2,707
235)

          CWIP


236) 0
237) 1,731
238) 52
239) 3
240) 0
241)

          Investments


242) 0
243) 49
244) 121
245) 123
246) 120
247)

            Other Assets +


248) 0
249) 186
250) 100
251) 91
252) 88
253)

          Total Assets


254) 0
255) 2,828
256) 2,970
257) 2,934
258) 2,916
259)

            Cash from Operating Activity +


260) 0
261) 225
262) 250
263) 291
264)

            Cash from Investing Activity +


265) 0
266) -2,617
267) -76
268) -124
269)

            Cash from Financing Activity +


270) 0
271) 2,434
272) -195
273) -183
274)

          Net Cash Flow


275) 0
276) 43
277) -22
278) -15
279)

          ROCE %


280)
281) -0%
282) 3%
283) 4%
284)

          Debtor Days


285)
286)
287) 30
288) 17
289)

          Inventory Turnover


290)
291)
292)
293)

In [19]:
all_rows

['\n\n            Sales\xa0+\n\n',
 '29',
 '33',
 '30',
 '42',
 '42',
 '45',
 '44',
 '\n\n            Expenses\xa0+\n\n',
 '11',
 '12',
 '10',
 '4',
 '9',
 '8',
 '7',
 '\n          \n          Operating Profit\n          \n        ',
 '19',
 '21',
 '20',
 '38',
 '33',
 '37',
 '37',
 '\n          \n          OPM %\n          \n        ',
 '64%',
 '62%',
 '67%',
 '91%',
 '79%',
 '82%',
 '84%',
 '\n          \n          Other Income\n          \n        ',
 '7',
 '2',
 '7',
 '-12',
 '5',
 '2',
 '3',
 '\n          \n          Interest\n          \n        ',
 '76',
 '69',
 '90',
 '108',
 '87',
 '88',
 '86',
 '\n          \n          Depreciation\n          \n        ',
 '4',
 '4',
 '4',
 '5',
 '8',
 '8',
 '8',
 '\n          \n          Profit before tax\n          \n        ',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 '\n          \n          Tax %\n          \n        ',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '\n          \n          Net Profit\n          \n        ',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 '\n          \n          EPS in Rs\n          \n        ',
 '-2.56',
 '-2.27',
 '-2.96',
 '-4.20',
 '-2.31',
 '-2.59',
 '-2.55',
 '',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n            Sales\xa0+\n\n',
 '0',
 '0',
 '86',
 '130',
 '174',
 '\n\n            Expenses\xa0+\n\n',
 '0',
 '676',
 '215',
 '37',
 '28',
 '\n          \n          Operating Profit\n          \n        ',
 '0',
 '-676',
 '-128',
 '93',
 '146',
 '\n          \n          OPM %\n          \n        ',
 '',
 '',
 '-149%',
 '71%',
 '84%',
 '\n          \n          Other Income\n          \n        ',
 '0',
 '676',
 '203',
 '9',
 '-1',
 '\n          \n          Interest\n          \n        ',
 '0',
 '0',
 '247',
 '344',
 '370',
 '\n          \n          Depreciation\n          \n        ',
 '0',
 '0',
 '12',
 '18',
 '29',
 '\n          \n          Profit before tax\n          \n        ',
 '0',
 '-0',
 '-185',
 '-260',
 '-254',
 '\n          \n          Tax %\n          \n        ',
 '',
 '-0%',
 '-0%',
 '-0%',
 '',
 '\n          \n          Net Profit\n          \n        ',
 '0',
 '-0',
 '-185',
 '-260',
 '-254',
 '\n          \n          EPS in Rs\n          \n        ',
 '',
 '',
 '0.00',
 '0.00',
 '-11.65',
 '\n          \n          Dividend Payout %\n          \n        ',
 '',
 '-0%',
 '-0%',
 '-0%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 'TTM:',
 '50.77%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 'TTM:',
 '-40.82%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 '1 Year:',
 '-70.59%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 'Last Year:',
 'None%',
 '\n\n            Share Capital\xa0+\n\n',
 '0',
 '48',
 '246',
 '261',
 '48',
 '\n          \n          Reserves\n          \n        ',
 '-0',
 '-33',
 '-166',
 '-454',
 '-393',
 '\n          \n          Borrowings\n          \n        ',
 '0',
 '2,396',
 '2,220',
 '2,243',
 '2,394',
 '\n\n            Other Liabilities\xa0+\n\n',
 '0',
 '416',
 '868',
 '1,097',
 '866',
 '\n          \n          Total Liabilities\n          \n        ',
 '0',
 '2,828',
 '2,970',
 '2,934',
 '2,916',
 '\n\n            Fixed Assets\xa0+\n\n',
 '0',
 '861',
 '2,697',
 '2,717',
 '2,707',
 '\n          \n          CWIP\n          \n        ',
 '0',
 '1,731',
 '52',
 '3',
 '0',
 '\n          \n          Investments\n          \n        ',
 '0',
 '49',
 '121',
 '123',
 '120',
 '\n\n            Other Assets\xa0+\n\n',
 '0',
 '186',
 '100',
 '91',
 '88',
 '\n          \n          Total Assets\n          \n        ',
 '0',
 '2,828',
 '2,970',
 '2,934',
 '2,916',
 '\n\n            Cash from Operating Activity\xa0+\n\n',
 '0',
 '225',
 '250',
 '291',
 '\n\n            Cash from Investing Activity\xa0+\n\n',
 '0',
 '-2,617',
 '-76',
 '-124',
 '\n\n            Cash from Financing Activity\xa0+\n\n',
 '0',
 '2,434',
 '-195',
 '-183',
 '\n          \n          Net Cash Flow\n          \n        ',
 '0',
 '43',
 '-22',
 '-15',
 '\n          \n          ROCE %\n          \n        ',
 '',
 '-0%',
 '3%',
 '4%',
 '\n          \n          Debtor Days\n          \n        ',
 '',
 '',
 '30',
 '17',
 '\n          \n          Inventory Turnover\n          \n        ',
 '',
 '',
 '',
 '']

In [20]:
############### additional data ######################
df_Compounded_Sales_Growth = pd.DataFrame(columns=['10 Years','5 Years','3 Years','TTM'])
df_Compounded_Profit_Growth = pd.DataFrame(columns=['10 Years','5 Years','3 Years','TTM'])
df_Stock_Price_CAGR = pd.DataFrame(columns=['10 Years','5 Years','3 Years','1 Year'])
df_Return_on_Equity = pd.DataFrame(columns=['10 Years','5 Years','3 Years','Last Year'])

df_Compounded_Profit_Growth

Empty DataFrame
Columns: [10 Years, 5 Years, 3 Years, TTM]
Index: []

In [21]:
temp_row1 = [all_rows[additional_data_index+1],all_rows[additional_data_index+3],all_rows[additional_data_index+5],all_rows[additional_data_index+7]]
temp_row2 = [all_rows[additional_data_index+9],all_rows[additional_data_index+11],all_rows[additional_data_index+13],all_rows[additional_data_index+15]]
temp_row3 = [all_rows[additional_data_index+17],all_rows[additional_data_index+19],all_rows[additional_data_index+21],all_rows[additional_data_index+23]]
temp_row4 = [all_rows[additional_data_index+25],all_rows[additional_data_index+27],all_rows[additional_data_index+29],all_rows[additional_data_index+31]]

temp_row1

['%', '%', '%', '50.77%']

In [22]:
temp_row_new = []

for t in temp_row1:
    temp = t
    if temp[0] == '%':
        temp_row_new.append(float(np.nan))
    elif temp == "None%":
        temp_row_new.append(float(0))
    else:
        temp = temp.replace(',','')
        temp = temp.replace('%','')
        temp_row_new.append(float(temp))

df_Compounded_Sales_Growth.loc[0] = temp_row_new
df_Compounded_Sales_Growth = df_Compounded_Sales_Growth.rename(index={0: 'value %'})

#..................................................................

temp_row_new = []

for t in temp_row2:
    temp = t
    if temp[0] == '%':
        temp_row_new.append(float(np.nan))
    elif temp == "None%":
        temp_row_new.append(float(0))
    else:
        temp = temp.replace(',','')
        temp = temp.replace('%','')
        temp_row_new.append(float(temp))

df_Compounded_Profit_Growth.loc[0] = temp_row_new
df_Compounded_Profit_Growth = df_Compounded_Profit_Growth.rename(index={0: 'value %'})

#........................................................................

temp_row_new = []

for t in temp_row3:
    temp = t
    if temp[0] == '%':
        temp_row_new.append(float(np.nan))
    elif temp == "None%":
        temp_row_new.append(float(0))
    else:
        temp = temp.replace(',','')
        temp = temp.replace('%','')
        temp_row_new.append(float(temp))

df_Stock_Price_CAGR.loc[0] = temp_row_new
df_Stock_Price_CAGR = df_Stock_Price_CAGR.rename(index={0: 'value %'})

# .....................................................................

temp_row_new = []

for t in temp_row4:
    temp = t
    if temp[0] == '%':
        temp_row_new.append(float(np.nan))
    elif temp == "None%":
        temp_row_new.append(float(0))
    else:
        temp = temp.replace(',','')
        temp = temp.replace('%','')
        temp_row_new.append(float(temp))

df_Return_on_Equity.loc[0] = temp_row_new
df_Return_on_Equity = df_Return_on_Equity.rename(index={0: 'value %'})

In [23]:
df_Compounded_Profit_Growth

         10 Years  5 Years  3 Years    TTM
value %       NaN      NaN      NaN -40.82

In [24]:
#removing unwanted spaces, tbas,'Notes' etc
all_rows_new = []
remove_next_flag = False

for i in range(len(all_rows)):
    temp = all_rows[i]
    temp = temp.replace('\n','')
    temp = temp.replace('  ','')
    temp = temp.replace('\xa0',' ')

    if(not(temp == "")):
        if(remove_next_flag == True):
            remove_next_flag = False
        elif(temp[-1] == ":"):
            remove_next_flag = True
            continue
        elif(temp == 'Notes'):
            all_rows_new.append('Notes')
        else:
            all_rows_new.append(temp)
    else:
        all_rows_new.append("empty")
    
print(len(all_rows_new))
all_rows_new

262

['Sales +',
 '29',
 '33',
 '30',
 '42',
 '42',
 '45',
 '44',
 'Expenses +',
 '11',
 '12',
 '10',
 '4',
 '9',
 '8',
 '7',
 'Operating Profit',
 '19',
 '21',
 '20',
 '38',
 '33',
 '37',
 '37',
 'OPM %',
 '64%',
 '62%',
 '67%',
 '91%',
 '79%',
 '82%',
 '84%',
 'Other Income',
 '7',
 '2',
 '7',
 '-12',
 '5',
 '2',
 '3',
 'Interest',
 '76',
 '69',
 '90',
 '108',
 '87',
 '88',
 '86',
 'Depreciation',
 '4',
 '4',
 '4',
 '5',
 '8',
 '8',
 '8',
 'Profit before tax',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 'Tax %',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 'Net Profit',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 'EPS in Rs',
 '-2.56',
 '-2.27',
 '-2.96',
 '-4.20',
 '-2.31',
 '-2.59',
 '-2.55',
 'empty',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Sales +',
 '0',
 '0',
 '86',
 '130',
 '174',
 'Expenses +',
 '0',
 '676',
 '215',
 '37',
 '28',
 'Operating Profit',
 '0',
 '-676',
 '-128',
 '93',
 '146',
 'OPM %',
 'empty',
 'empty',
 '-149%',
 '71%',
 '84%',
 'Other Income',
 '0',
 '676',
 '203',
 '9',
 '-1',
 'Interest',
 '0',
 '0',
 '247',
 '344',
 '370',
 'Depreciation',
 '0',
 '0',
 '12',
 '18',
 '29',
 'Profit before tax',
 '0',
 '-0',
 '-185',
 '-260',
 '-254',
 'Tax %',
 'empty',
 '-0%',
 '-0%',
 '-0%',
 'empty',
 'Net Profit',
 '0',
 '-0',
 '-185',
 '-260',
 '-254',
 'EPS in Rs',
 'empty',
 'empty',
 '0.00',
 '0.00',
 '-11.65',
 'Dividend Payout %',
 'empty',
 '-0%',
 '-0%',
 '-0%',
 'Share Capital +',
 '0',
 '48',
 '246',
 '261',
 '48',
 'Reserves',
 '-0',
 '-33',
 '-166',
 '-454',
 '-393',
 'Borrowings',
 '0',
 '2,396',
 '2,220',
 '2,243',
 '2,394',
 'Other Liabilities +',
 '0',
 '416',
 '868',
 '1,097',
 '866',
 'Total Liabilities',
 '0',
 '2,828',
 '2,970',
 '2,934',
 '2,916',
 'Fixed Assets +',
 '0',
 '861',
 '2,697',
 '2,717',
 '2,707',
 'CWIP',
 '0',
 '1,731',
 '52',
 '3',
 '0',
 'Investments',
 '0',
 '49',
 '121',
 '123',
 '120',
 'Other Assets +',
 '0',
 '186',
 '100',
 '91',
 '88',
 'Total Assets',
 '0',
 '2,828',
 '2,970',
 '2,934',
 '2,916',
 'Cash from Operating Activity +',
 '0',
 '225',
 '250',
 '291',
 'Cash from Investing Activity +',
 '0',
 '-2,617',
 '-76',
 '-124',
 'Cash from Financing Activity +',
 '0',
 '2,434',
 '-195',
 '-183',
 'Net Cash Flow',
 '0',
 '43',
 '-22',
 '-15',
 'ROCE %',
 'empty',
 '-0%',
 '3%',
 '4%',
 'Debtor Days',
 'empty',
 'empty',
 '30',
 '17',
 'Inventory Turnover',
 'empty',
 'empty',
 'empty',
 'empty']

In [25]:
row_names = []

for r in all_rows_new:
    if r[0].isdigit() == False and (not (r[0] == "-") and (not r == 'empty')): #if row name comes
        row_names.append(r)
row_names

['Sales +',
 'Expenses +',
 'Operating Profit',
 'OPM %',
 'Other Income',
 'Interest',
 'Depreciation',
 'Profit before tax',
 'Tax %',
 'Net Profit',
 'EPS in Rs',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Sales +',
 'Expenses +',
 'Operating Profit',
 'OPM %',
 'Other Income',
 'Interest',
 'Depreciation',
 'Profit before tax',
 'Tax %',
 'Net Profit',
 'EPS in Rs',
 'Dividend Payout %',
 'Share Capital +',
 'Reserves',
 'Borrowings',
 'Other Liabilities +',
 'Total Liabilities',
 'Fixed Assets +',
 'CWIP',
 'Investments',
 'Other Assets +',
 'Total Assets',
 'Cash from Operating Activity +',
 'Cash from Investing Activity +',
 'Cash from Financing Activity +',
 'Net Cash Flow',
 'ROCE %',
 'Debtor Days',
 'Inventory Turnover']

In [26]:
#to measure no. of rows in a table
rows_in_each_table = {'Quarters':11, 'Profit & Loss':12, 'Balance Sheet':10, 'Cash Flow':4, 'Ratios':3 }
        
rows_in_each_table

{'Quarters': 11,
 'Profit & Loss': 12,
 'Balance Sheet': 10,
 'Cash Flow': 4,
 'Ratios': 3}

In [27]:
#to measure no. of columns in a table
columns_in_each_table = {'Quarters':len(df_Quarters.columns), 'Profit & Loss':len(df_Profit_and_Loss.columns), 'Balance Sheet':len(df_Balance_Sheet.columns), 'Cash Flow':len(df_Cash_Flow.columns), 'Ratios':len(df_Ratios.columns)}

columns_in_each_table['Quarters']

7

In [28]:
def return_row(all_rows_new):
    temp_row = []
    for r in all_rows_new:
        if r[0].isdigit() == False and (not (r[0] == "-")): #if row name comes
            temp_row = []
        #also assign row name as index name of dataframe
        #print(r)
        else: #if row value comes
            temp_row.append(r)

    return temp_row

In [29]:
#just to check
#list_of_rows = []
#a=[1,2,3,4]
#b=[1,3,5,7]

#list_of_rows.append(a)
#list_of_rows.append(b)

#list_of_rows

In [30]:
#splitting all_rows_new into 5 parts (coz 5 tables)
table1 = []
table2 = []
table3 = []
table4 = []
table5 = []

counter = 0
for r in all_rows_new:
    if r == 'Sales +' or r == 'Share Capital +' or r == 'Cash from Operating Activity +' or r == 'ROCE %':
        counter = counter + 1
    
    if counter == 1:
        table1.append(r)
    if counter == 2:
        table2.append(r)
    if counter == 3:
        table3.append(r)
    if counter == 4:
        table4.append(r)
    if counter == 5:
        table5.append(r)
        
#dropping 12 Notes and 1 blank index name
rangee = columns_in_each_table['Quarters']
for i in range(rangee+1):
    table1.pop()

In [31]:
table1

['Sales +',
 '29',
 '33',
 '30',
 '42',
 '42',
 '45',
 '44',
 'Expenses +',
 '11',
 '12',
 '10',
 '4',
 '9',
 '8',
 '7',
 'Operating Profit',
 '19',
 '21',
 '20',
 '38',
 '33',
 '37',
 '37',
 'OPM %',
 '64%',
 '62%',
 '67%',
 '91%',
 '79%',
 '82%',
 '84%',
 'Other Income',
 '7',
 '2',
 '7',
 '-12',
 '5',
 '2',
 '3',
 'Interest',
 '76',
 '69',
 '90',
 '108',
 '87',
 '88',
 '86',
 'Depreciation',
 '4',
 '4',
 '4',
 '5',
 '8',
 '8',
 '8',
 'Profit before tax',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 'Tax %',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 'Net Profit',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 'EPS in Rs',
 '-2.56',
 '-2.27',
 '-2.96',
 '-4.20',
 '-2.31',
 '-2.59',
 '-2.55']

In [32]:
table1_data_only = []
for t in table1:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table1_data_only.append(t)

In [33]:
#for table 1
print(len(table1_data_only))
table1_data_only

77

['29',
 '33',
 '30',
 '42',
 '42',
 '45',
 '44',
 '11',
 '12',
 '10',
 '4',
 '9',
 '8',
 '7',
 '19',
 '21',
 '20',
 '38',
 '33',
 '37',
 '37',
 '64%',
 '62%',
 '67%',
 '91%',
 '79%',
 '82%',
 '84%',
 '7',
 '2',
 '7',
 '-12',
 '5',
 '2',
 '3',
 '76',
 '69',
 '90',
 '108',
 '87',
 '88',
 '86',
 '4',
 '4',
 '4',
 '5',
 '8',
 '8',
 '8',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-0%',
 '-55',
 '-51',
 '-67',
 '-87',
 '-56',
 '-57',
 '-54',
 '-2.56',
 '-2.27',
 '-2.96',
 '-4.20',
 '-2.31',
 '-2.59',
 '-2.55']

In [34]:
text = "54.5"
type(float(text))

float

In [35]:
count = 0
for i in range(rows_in_each_table['Quarters']):
    temp_row = []
    for j in range(columns_in_each_table['Quarters']):
        temp_element = table1_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Quarters.loc[len(df_Quarters)] = temp_row

In [36]:
#df_Quarters

In [37]:
#now renaming index for table1
df_Quarters = df_Quarters.rename(index={0: 'Sales', 1: 'Expenses',2: 'Operating Profit', 3: 'OPM %',4: 'Other Income', 5: 'Interest',6: 'Depreciation', 7: 'Profit before tax',8: 'Tax %', 9: 'Net Profit', 10: 'EPS in Rs'})
df_Quarters

,Jun 2018,Sep 2018,Dec 2018,Mar 2019,Jun 2019,Sep 2019,Dec 2019
Sales,29.00,33.00,30.00,42.0,42.00,45.00,44.00
Expenses,11.00,12.00,10.00,4.0,9.00,8.00,7.00
Operating Profit,19.00,21.00,20.00,38.0,33.00,37.00,37.00
OPM %,64.00,62.00,67.00,91.0,79.00,82.00,84.00
Other Income,7.00,2.00,7.00,-12.0,5.00,2.00,3.00
Interest,76.00,69.00,90.00,108.0,87.00,88.00,86.00
Depreciation,4.00,4.00,4.00,5.0,8.00,8.00,8.00
Profit before tax,-55.00,-51.00,-67.00,-87.0,-56.00,-57.00,-54.00
Tax %,-0.00,-0.00,-0.00,-0.0,-0.00,-0.00,-0.00
Net Profit,-55.00,-51.00,-67.00,-87.0,-56.00,-57.00,-54.00
EPS in Rs,-2.56,-2.27,-2.96,-4.2,-2.31,-2.59,-2.55

In [38]:
#now table 2

In [39]:
table2_data_only = []
for t in table2:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table2_data_only.append(t)

len(table2_data_only)

59

In [40]:
count = 0
last_index = (rows_in_each_table['Profit & Loss']*columns_in_each_table['Profit & Loss'])-1
for i in range(rows_in_each_table['Profit & Loss']):
    temp_row = []
    for j in range(columns_in_each_table['Profit & Loss']):
        if(count == last_index):
            temp_row.append(np.nan)
            break
        temp_element = table2_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Profit_and_Loss.loc[len(df_Profit_and_Loss)] = temp_row

In [41]:
df_Profit_and_Loss

    Mar 2016  Mar 2017  Mar 2018  Mar 2019     TTM
0        0.0       0.0      86.0     130.0  174.00
1        0.0     676.0     215.0      37.0   28.00
2        0.0    -676.0    -128.0      93.0  146.00
3        NaN       NaN    -149.0      71.0   84.00
4        0.0     676.0     203.0       9.0   -1.00
5        0.0       0.0     247.0     344.0  370.00
6        0.0       0.0      12.0      18.0   29.00
7        0.0      -0.0    -185.0    -260.0 -254.00
8        NaN      -0.0      -0.0      -0.0     NaN
9        0.0      -0.0    -185.0    -260.0 -254.00
10       NaN       NaN       0.0       0.0  -11.65
11       NaN      -0.0      -0.0      -0.0     NaN

In [42]:
#now renaming index for table2
df_Profit_and_Loss = df_Profit_and_Loss.rename(index={0: 'Sales', 1: 'Expenses',2: 'Operating Profit', 3: 'OPM %',4: 'Other Income', 5: 'Interest',6: 'Depreciation', 7: 'Profit before tax',8: 'Tax %', 9: 'Net Profit', 10: 'EPS in Rs', 11: 'Dividend Payout %'})
df_Profit_and_Loss

                   Mar 2016  Mar 2017  Mar 2018  Mar 2019     TTM
Sales                   0.0       0.0      86.0     130.0  174.00
Expenses                0.0     676.0     215.0      37.0   28.00
Operating Profit        0.0    -676.0    -128.0      93.0  146.00
OPM %                   NaN       NaN    -149.0      71.0   84.00
Other Income            0.0     676.0     203.0       9.0   -1.00
Interest                0.0       0.0     247.0     344.0  370.00
Depreciation            0.0       0.0      12.0      18.0   29.00
Profit before tax       0.0      -0.0    -185.0    -260.0 -254.00
Tax %                   NaN      -0.0      -0.0      -0.0     NaN
Net Profit              0.0      -0.0    -185.0    -260.0 -254.00
EPS in Rs               NaN       NaN       0.0       0.0  -11.65
Dividend Payout %       NaN      -0.0      -0.0      -0.0     NaN

In [43]:
#now table 3

In [44]:
table3_data_only = []
for t in table3:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table3_data_only.append(t)

len(table3_data_only)

50

In [45]:
count = 0
for i in range(rows_in_each_table['Balance Sheet']):
    temp_row = []
    for j in range(columns_in_each_table['Balance Sheet']):
        temp_element = table3_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Balance_Sheet.loc[len(df_Balance_Sheet)] = temp_row

In [46]:
#now renaming index for table3
df_Balance_Sheet = df_Balance_Sheet.rename(index={0: 'Share Capital', 1: 'Reserves',2: 'Borrowings', 3: 'Other Liabilities',4: 'Total Liabilities', 5: 'Fixed Assets',6: 'CWIP', 7: 'Investments',8: 'Other Assets', 9: 'Total Assets'})
df_Balance_Sheet

                   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Sep 2019
Share Capital           0.0      48.0     246.0     261.0      48.0
Reserves               -0.0     -33.0    -166.0    -454.0    -393.0
Borrowings              0.0    2396.0    2220.0    2243.0    2394.0
Other Liabilities       0.0     416.0     868.0    1097.0     866.0
Total Liabilities       0.0    2828.0    2970.0    2934.0    2916.0
Fixed Assets            0.0     861.0    2697.0    2717.0    2707.0
CWIP                    0.0    1731.0      52.0       3.0       0.0
Investments             0.0      49.0     121.0     123.0     120.0
Other Assets            0.0     186.0     100.0      91.0      88.0
Total Assets            0.0    2828.0    2970.0    2934.0    2916.0

In [47]:
#now table 4

In [48]:
table4_data_only = []
for t in table4:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table4_data_only.append(t)

len(table4_data_only)

16

In [49]:
count = 0
for i in range(rows_in_each_table['Cash Flow']):
    temp_row = []
    for j in range(columns_in_each_table['Cash Flow']):
        temp_element = table4_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Cash_Flow.loc[len(df_Cash_Flow)] = temp_row

In [50]:
#now renaming index for table4
df_Cash_Flow = df_Cash_Flow.rename(index={0: 'Cash from Operating Activity', 1: 'Cash from Investing Activity',2: 'Cash from Financing Activity', 3: 'Net Cash Flow'})
df_Cash_Flow

                              Mar 2016  Mar 2017  Mar 2018  Mar 2019
Cash from Operating Activity       0.0     225.0     250.0     291.0
Cash from Investing Activity       0.0   -2617.0     -76.0    -124.0
Cash from Financing Activity       0.0    2434.0    -195.0    -183.0
Net Cash Flow                      0.0      43.0     -22.0     -15.0

In [51]:
#now table 5
table5_data_only = []
for t in table5:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table5_data_only.append(t)

len(table5_data_only)

12

In [52]:
count = 0
for i in range(rows_in_each_table['Ratios']):
    temp_row = []
    for j in range(columns_in_each_table['Ratios']):
        temp_element = table5_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Ratios.loc[len(df_Ratios)] = temp_row

In [53]:
#now renaming index for table5
df_Ratios = df_Ratios.rename(index={0: 'ROCE %', 1: 'Debtor Days',2: 'Inventory Turnover'})
df_Ratios

                    Mar 2016  Mar 2017  Mar 2018  Mar 2019
ROCE %                   NaN      -0.0       3.0       4.0
Debtor Days              NaN       NaN      30.0      17.0
Inventory Turnover       NaN       NaN       NaN       NaN

In [54]:
dataset = {'Main_Info':df_main_info,'Quarters':df_Quarters, 'Profit_and_Loss':df_Profit_and_Loss, 'Balance_Sheet':df_Balance_Sheet, 'Cash_Flow':df_Cash_Flow, 'Ratios':df_Ratios, 'Compounded_Sales_Growth':df_Compounded_Sales_Growth , 'Compounded_Profit_Growth':df_Compounded_Profit_Growth , 'Stock_Price_CAGR':df_Stock_Price_CAGR , 'Return_on_Equity':df_Return_on_Equity }

In [55]:
# Finally displaying all 5 tables

In [56]:
dataset['Quarters']

,Jun 2018,Sep 2018,Dec 2018,Mar 2019,Jun 2019,Sep 2019,Dec 2019
Sales,29.00,33.00,30.00,42.0,42.00,45.00,44.00
Expenses,11.00,12.00,10.00,4.0,9.00,8.00,7.00
Operating Profit,19.00,21.00,20.00,38.0,33.00,37.00,37.00
OPM %,64.00,62.00,67.00,91.0,79.00,82.00,84.00
Other Income,7.00,2.00,7.00,-12.0,5.00,2.00,3.00
Interest,76.00,69.00,90.00,108.0,87.00,88.00,86.00
Depreciation,4.00,4.00,4.00,5.0,8.00,8.00,8.00
Profit before tax,-55.00,-51.00,-67.00,-87.0,-56.00,-57.00,-54.00
Tax %,-0.00,-0.00,-0.00,-0.0,-0.00,-0.00,-0.00
Net Profit,-55.00,-51.00,-67.00,-87.0,-56.00,-57.00,-54.00
EPS in Rs,-2.56,-2.27,-2.96,-4.2,-2.31,-2.59,-2.55

In [57]:
dataset['Profit_and_Loss']

                   Mar 2016  Mar 2017  Mar 2018  Mar 2019     TTM
Sales                   0.0       0.0      86.0     130.0  174.00
Expenses                0.0     676.0     215.0      37.0   28.00
Operating Profit        0.0    -676.0    -128.0      93.0  146.00
OPM %                   NaN       NaN    -149.0      71.0   84.00
Other Income            0.0     676.0     203.0       9.0   -1.00
Interest                0.0       0.0     247.0     344.0  370.00
Depreciation            0.0       0.0      12.0      18.0   29.00
Profit before tax       0.0      -0.0    -185.0    -260.0 -254.00
Tax %                   NaN      -0.0      -0.0      -0.0     NaN
Net Profit              0.0      -0.0    -185.0    -260.0 -254.00
EPS in Rs               NaN       NaN       0.0       0.0  -11.65
Dividend Payout %       NaN      -0.0      -0.0      -0.0     NaN

In [58]:
dataset['Balance_Sheet']

                   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Sep 2019
Share Capital           0.0      48.0     246.0     261.0      48.0
Reserves               -0.0     -33.0    -166.0    -454.0    -393.0
Borrowings              0.0    2396.0    2220.0    2243.0    2394.0
Other Liabilities       0.0     416.0     868.0    1097.0     866.0
Total Liabilities       0.0    2828.0    2970.0    2934.0    2916.0
Fixed Assets            0.0     861.0    2697.0    2717.0    2707.0
CWIP                    0.0    1731.0      52.0       3.0       0.0
Investments             0.0      49.0     121.0     123.0     120.0
Other Assets            0.0     186.0     100.0      91.0      88.0
Total Assets            0.0    2828.0    2970.0    2934.0    2916.0

In [59]:
dataset['Cash_Flow']

                              Mar 2016  Mar 2017  Mar 2018  Mar 2019
Cash from Operating Activity       0.0     225.0     250.0     291.0
Cash from Investing Activity       0.0   -2617.0     -76.0    -124.0
Cash from Financing Activity       0.0    2434.0    -195.0    -183.0
Net Cash Flow                      0.0      43.0     -22.0     -15.0

In [60]:
dataset['Ratios']

                    Mar 2016  Mar 2017  Mar 2018  Mar 2019
ROCE %                   NaN      -0.0       3.0       4.0
Debtor Days              NaN       NaN      30.0      17.0
Inventory Turnover       NaN       NaN       NaN       NaN

In [61]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
save_path = 'datastore/'
complete_name = c_name + '.xlsx'
writer = pd.ExcelWriter(save_path+complete_name, engine='xlsxwriter')

# Write each dataframe to a different worksheet.
dataset['Main_Info'].to_excel(writer, sheet_name='Main_Info')
dataset['Quarters'].to_excel(writer, sheet_name='Quarters')
dataset['Profit_and_Loss'].to_excel(writer, sheet_name='Profit_and_Loss')
dataset['Balance_Sheet'].to_excel(writer, sheet_name='Balance_Sheet')
dataset['Cash_Flow'].to_excel(writer, sheet_name='Cash_Flow')
dataset['Ratios'].to_excel(writer, sheet_name='Ratios')

dataset['Compounded_Sales_Growth'].to_excel(writer, sheet_name='Compounded_Sales_Growth')
dataset['Compounded_Profit_Growth'].to_excel(writer, sheet_name='Compounded_Profit_Growth')
dataset['Stock_Price_CAGR'].to_excel(writer, sheet_name='Stock_Price_CAGR')
dataset['Return_on_Equity'].to_excel(writer, sheet_name='Return_on_Equity')

# Close the Pandas Excel writer and output the Excel file.
writer.save()