In [1]:
import requests #to request to the web site from where you want to do scrapping
import bs4 #for beautiful soup
import pandas as pd
import numpy as np

In [2]:
#res variable is holding the request (res variable will store entire webpage)
res = requests.get('https://www.screener.in/company/511339/')

In [3]:
soup = bs4.BeautifulSoup (res.text, 'lxml')
print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8"/>
  <title>
   Apple Credit Corporation Ltd - financial results and price chart - Screener
  </title>
  <meta content="Screener provides 10 years financial data of listed Indian companies. It provides tools to find and analyse new stock ideas." name="description"/>
  <meta content="Mittal Analytics Private Limited" name="author"/>
  <!-- Mobile Specific Meta -->
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <!-- Google Tag Manager -->
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KG8ZGC4');
  </script>
  <!-- End Google Tag Manager -->
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"/>
  <link href="/static/fontello/css/fontello.ae80ff8e982d.css" rel="stylesheet"/>
  <!-- CSS -->
  <link href="/static/css/normalize.fda27b856c2e.css" rel="stylesheet"/>
  <link href="/static/css/skeleton.4c34ae68a491.css" rel="stylesheet"/>
  <link href="/static/css/custom.3a45e643cf11.css" rel="stylesheet"/>
  <!-- Favicon -->
  <link href="/static/img/favicon.4954d9b67008.png" rel="icon" type="image/png"/>
  <style>
   tr[data-row-company-name="Apple Credit"] {
    font-weight: 600;
  }

  tr[data-row-company-name="Apple Credit"] a {
    color: #222;
  }
  </style>
 </head>
 <body id="top">
  <dialog class="flex-column" id="modal">
   <div class="flex-row-sm flex-baseline" id="modal-header">
    <button onclick="Modal.close()">
     <i class="icon-left-thin">
     </i>
    </button>
    <div id="modal-title">
    </div>
    <div class="flex-filler">
    </div>
    <button onclick="Modal.close()">
     <i class="icon-cancel">
     </i>
     Close
    </button>
   </div>
   <div id="modal-content">
   </div>
  </dialog>
  <nav class="u-full-width no-print top-nav-holder">
   <div class="container">
    <div class="top-navigation">
     <div class="top-nav-controls">
      <button aria-label="Show Navigation Menu" class="button-link nav-item" id="top-nav-menu-button">
       <i class="icon-menu bigger">
       </i>
      </button>
      <a href="/">
       <img alt="Screener Logo" class="logo" src="/static/img/logo-nav.66821a39000d.svg"/>
      </a>
      <button aria-label="Goto Company Search" class="button-link nav-item" id="top-nav-search-button">
       <i class="icon-search bigger">
       </i>
      </button>
      <div id="top-nav-search">
       <div class="has-addon right-addon">
        <i class="addon icon-search">
        </i>
        <input aria-label="Search Company" autocomplete="off" class="u-full-width" data-company-search="true" placeholder="Company search..." spellcheck="false" type="search"/>
       </div>
      </div>
     </div>
     <div class="top-nav-space">
     </div>
     <div id="top-nav-menu">
      <a class="nav-item" href="/features/">
       Features
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/screens/">
       Screens
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/premium/">
       Premium
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/login/">
       Login
      </a>
      <div class="menu-hr">
      </div>
      <a class="nav-item" href="/register/">
       Register
      </a>
     </div>
    </div>
   </div>
  </nav>
  <main>
   <div class="container" id="content-area">
    <div class="flex-row flex-baseline flex-space-between" data-company-id="1268162" data-warehouse-id="4988423" id="company-info">
     <h1 class="no-margin">
      Apple Credit Corporation Ltd
     </h1>
     <form class="no-margin flex" method="POST">
      <input name="csrfmiddlewaretoken" type="hidden" value="TalGUrnwlcBsQEGzeCGSzLjIYofaGtnLydNnvKlqoq8VpL0Z0SBqvBSkB3YxqScj"/>
      <input name="next" type="hidden" value="/company/511339/"/>
      <button class="button-text no-margin" formaction="/user/company/export/4988423/">
       <i class="icon-download">
       </i>
       <span class="hide-on-mobile">
        Export to Excel
       </span>
      </button>
      <div class="new-stack" id="add-to-sublists">
       <button class="button-primary no-margin" formaction="/api/company/1268162/add/">
        <i class="icon-plus">
        </i>
        Follow
       </button>
       <div class="ease-visibility invisible" id="company-in-sublists">
       </div>
      </div>
     </form>
    </div>
    <p class="sub bigger" id="company-profile">
     Abhayam Trading carries on the business of Hire Purchase and Leasing ,primarily in the transport sector, as a Non Banking Finance Company.
    </p>
    <nav class="show-on-tablet" id="pseudo-scroll-aid-bar">
     <div class="sub-nav">
      <a class="active" href="#top">
       Apple Credit
      </a>
      <a href="#chart">
       Chart
      </a>
      <a href="#analysis">
       Analysis
      </a>
      <a href="#peers">
       Peers
      </a>
      <a href="#quarters">
       Quarters
      </a>
      <a href="#profit-loss">
       Profit &amp; Loss
      </a>
      <a href="#balance-sheet">
       Balance Sheet
      </a>
      <a href="#cash-flow">
       Cash Flow
      </a>
      <a href="#ratios">
       Ratios
      </a>
      <a href="#documents">
       Documents
      </a>
     </div>
    </nav>
    <nav class="show-on-tablet" id="fixed-scroll-aid-bar">
     <div class="sub-nav">
      <a href="#top">
       Apple Credit
      </a>
      <a href="#chart">
       Chart
      </a>
      <a href="#analysis">
       Analysis
      </a>
      <a href="#peers">
       Peers
      </a>
      <a href="#quarters">
       Quarters
      </a>
      <a href="#profit-loss">
       Profit &amp; Loss
      </a>
      <a href="#balance-sheet">
       Balance Sheet
      </a>
      <a href="#cash-flow">
       Cash Flow
      </a>
      <a href="#ratios">
       Ratios
      </a>
      <a href="#documents">
       Documents
      </a>
     </div>
    </nav>
    <section>
     <ul class="row-full-width" style="margin:0; list-style: none; padding-left: 0; font-size: 120%">
      <li class="four columns">
       Market Cap:
       <i class="icon-rupee">
       </i>
       <b>
       </b>
       Cr.
      </li>
      <li class="four columns">
       Current Price:
       <i class="icon-rupee">
       </i>
       <b>
       </b>
      </li>
      <li class="four columns">
       52 weeks High / Low
       <i class="icon-rupee">
       </i>
       <b>
        None
       </b>
       /
       <b>
        None
       </b>
      </li>
      <li class="four columns">
       Book Value:
       <i class="icon-rupee">
       </i>
       <b>
        -8.99
       </b>
      </li>
      <li class="four columns">
       Stock P/E:
       <b>
       </b>
      </li>
      <li class="four columns">
       Dividend Yield:
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       ROCE:
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       ROE:
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       Sales Growth (3Yrs):
       <b>
       </b>
       %
      </li>
      <li class="four columns">
       Listed on
       <a data-tooltip="511339" href="https://www.bseindia.com/stock-share-price/apple-credit-corporation-ltd/APPLECREDT/511339/" target="_blank">
        <b>
         BSE
        </b>
       </a>
      </li>
      <li class="four columns">
       <a data-tooltip="http://www.google.co.in/search?ie=UTF-8&amp;oe=UTF-8&amp;sourceid=navclient&amp;gfns=1&amp;q=Apple+Credit+Corporation+Ltd" href="http://www.google.co.in/search?ie=UTF-8&amp;oe=UTF-8&amp;sourceid=navclient&amp;gfns=1&amp;q=Apple+Credit+Corporation+Ltd" target="_blank">
        <b>
         Company Website
        </b>
       </a>
      </li>
      <li class="four columns">
       Face Value:
       <i class="icon-rupee">
       </i>
       <b>
        10.00
       </b>
      </li>
     </ul>
     <div class="u-cf">
     </div>
     <div id="quick-ratios-placeholder">
     </div>
     <div class="flex-row flex-baseline">
      <label for="quick-ratio-search" style="margin-right: 1rem">
       Add ratio:
      </label>
      <div>
       <input id="quick-ratio-search" placeholder="eg. Promoter holding" type="text"/>
      </div>
      <a class="grey-700" href="/user/quick_ratios/?next=/company/511339/" style="margin-left: 1rem">
       <i class="icon-pencil">
       </i>
       <span class="underline-link">
        Edit ratios
       </span>
      </a>
     </div>
    </section>
    <section id="chart" style="margin-bottom: 2.5rem">
     <div class="flex-row" id="chart-menu">
      <div class="options">
       <button class="button-link" data-set-chart-days="30" type="button">
        1m
       </button>
       <button class="button-link" data-set-chart-days="90" type="button">
        3m
       </button>
       <button class="button-link" data-set-chart-days="180" type="button">
        6m
       </button>
       <button class="button-link active" data-set-chart-days="365" type="button">
        1Yr
       </button>
       <button class="button-link" data-set-chart-days="1095" type="button">
        3Yr
       </button>
       <button class="button-link" data-set-chart-days="1825" type="button">
        5Yr
       </button>
       <button class="button-link" data-set-chart-days="10000" type="button">
        Max
       </button>
      </div>
      <div class="flex-filler">
      </div>
      <div class="options">
       <button class="button-link active" data-set-chart-metrics="Price-SMA50-SMA200-Volume" type="button">
        Price
       </button>
       <button class="button-link" data-set-chart-metrics="Price to Earning-Median PE-EPS" type="button">
        Price to Earning
       </button>
      </div>
     </div>
     <div class="flex-row flex-nowrap">
      <div class="hide-on-mobile chart-label">
       <div id="chart-label-left">
       </div>
      </div>
      <div id="chart-area" style="flex-grow: 1;">
       <div class="invisible" id="chart-info">
        <div id="chart-crosshair">
        </div>
        <div id="chart-tooltip">
         <div class="strong" id="chart-tooltip-title">
         </div>
         <div id="chart-tooltip-info">
         </div>
         <div class="grey-500" id="chart-tooltip-meta">
         </div>
        </div>
       </div>
       <div id="canvas-chart-holder">
       </div>
      </div>
      <div class="hide-on-mobile chart-label">
       <div id="chart-label-right">
       </div>
      </div>
     </div>
     <div id="chart-legend">
     </div>
    </section>
    <!-- 17 37 12 -->
    <section id="analysis" style="margin-bottom: 2.5rem">
     <div class="row row-full-width">
      <div class="six columns callout success">
       <div>
        <b>
         Pros:
        </b>
       </div>
      </div>
      <div class="six columns callout warning">
       <div>
        <b>
         Cons:
        </b>
       </div>
       <div>
        Company has low interest coverage ratio.
       </div>
      </div>
     </div>
    </section>
    <section id="peers">
     <h2>
      Peer comparison
      <small class="sub">
       Sector:
       <a href="/company/compare/00000026/">
        Finance
       </a>
       //
      Industry:
       <a href="/company/compare/00000026/00000050/">
        Finance &amp; Investments
       </a>
      </small>
     </h2>
     <div id="peers-table-placeholder">
      Loading peers table ...
     </div>
     <div class="flex-row flex-baseline">
      <label for="search-peer-comparison" style="padding-right: 1rem">
       Detailed Comparison with:
      </label>
      <div>
       <input id="search-peer-comparison" placeholder="eg. Infosys" type="text"/>
      </div>
     </div>
    </section>
    <section id="quarters">
     <div class="flex-row" style="align-items: baseline;">
      <h2>
       Quarterly Results
       <small class="sub">
        Figures in Rs. Crores
       </small>
      </h2>
      <div class="flex-filler">
      </div>
      <div>
      </div>
     </div>
     <div class="responsive-holder" data-result-table="">
      <table class="data-table responsive-text-nowrap">
       <thead>
        <tr>
         <th class="text">
         </th>
         <th>
          Sep 2014
         </th>
         <th>
          Dec 2014
         </th>
         <th>
          Mar 2015
         </th>
         <th>
          Jun 2015
         </th>
         <th>
          Sep 2015
         </th>
         <th>
          Dec 2015
         </th>
         <th>
          Mar 2016
         </th>
         <th>
          Jun 2016
         </th>
         <th>
          Sep 2016
         </th>
         <th>
          Dec 2016
         </th>
         <th>
          Mar 2017
         </th>
         <th>
          Jun 2017
         </th>
        </tr>
       </thead>
       <tbody>
        <tr class="stripe">
         <td class="text">
          <button class="no-style no-border no-margin no-padding no-bg hover-link" onclick="Company.showSchedule('Sales', 'quarters', this)" style="font-weight: inherit; text-align: left;">
           Sales
           <span class="blue-500">
            +
           </span>
          </button>
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
        </tr>
        <tr class="">
         <td class="text">
          <button class="no-style no-border no-margin no-padding no-bg hover-link" onclick="Company.showSchedule('Expenses', 'quarters', this)" style="font-weight: inherit; text-align: left;">
           Expenses
           <span class="blue-500">
            +
           </span>
          </button>
         </td>
         <td>
          0.15
         </td>
         <td>
          0.10
         </td>
         <td>
          0.15
         </td>
         <td>
          0.10
         </td>
         <td>
          0.15
         </td>
         <td>
          0.13
         </td>
         <td>
          0.09
         </td>
         <td>
          0.07
         </td>
         <td>
          0.17
         </td>
         <td>
          0.08
         </td>
         <td>
          0.35
         </td>
         <td>
          0.08
         </td>
        </tr>
        <tr class="stripe strong">
         <td class="text">
          Operating Profit
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.13
         </td>
         <td>
          -0.09
         </td>
         <td>
          -0.07
         </td>
         <td>
          -0.17
         </td>
         <td>
          -0.08
         </td>
         <td>
          -0.35
         </td>
         <td>
          -0.08
         </td>
        </tr>
        <tr class="">
         <td class="text">
          OPM %
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Other Income
         </td>
         <td>
          0.05
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.13
         </td>
         <td>
          0.00
         </td>
        </tr>
        <tr class="">
         <td class="text">
          Interest
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.01
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Depreciation
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
         <td>
          0.00
         </td>
        </tr>
        <tr class="strong">
         <td class="text">
          Profit before tax
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.13
         </td>
         <td>
          -0.09
         </td>
         <td>
          -0.07
         </td>
         <td>
          -0.17
         </td>
         <td>
          -0.08
         </td>
         <td>
          -0.22
         </td>
         <td>
          -0.09
         </td>
        </tr>
        <tr class="stripe">
         <td class="text">
          Tax %
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
         <td>
          -0.00%
         </td>
        </tr>
        <tr class="strong">
         <td class="text">
          Net Profit
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.10
         </td>
         <td>
          -0.15
         </td>
         <td>
          -0.13
         </td>
         <td>
          -0.09
         </td>
         <td>
          -0.07
         </td>
         <td>
          -0.17
         </td>
         <td>
          -0.08
         </td>
         <td>
          -0.22
         </td>
         <td>
          -0.09
         </td>
        </tr>

In [4]:
title = soup.select('title')
title[0].getText()

'Apple Credit Corporation Ltd - financial results and price chart - Screener'

In [5]:
temp=soup.select('a')

print(temp[10].getText())
print(temp[11].getText())
print(temp[12].getText())
print(temp[13].getText())
print(temp[14].getText())

Quarters
Profit & Loss
Balance Sheet
Cash Flow
Ratios

In [6]:
#find all html source of tables
temp=soup.find_all('th') #try td also

#to make list of tables in a html
all_headers = []

for i,t in enumerate(temp):
    print (str(i)+") "+str(t.getText()))
    all_headers.append(t.getText())

0)
1) Sep 2014
2) Dec 2014
3) Mar 2015
4) Jun 2015
5) Sep 2015
6) Dec 2015
7) Mar 2016
8) Jun 2016
9) Sep 2016
10) Dec 2016
11) Mar 2017
12) Jun 2017
13)
14) Mar 2006
15) Mar 2007
16) Mar 2008
17) Mar 2009
18) Mar 2010
19) Mar 2011
20) Mar 2012
21) Mar 2013
22) Mar 2014
23) Mar 2015
24) Mar 2016
25) Mar 2017
26) TTM
27) Compounded Sales Growth
28) Compounded Profit Growth
29) Stock Price CAGR
30) Return on Equity
31)
32) Mar 2006
33) Mar 2007
34) Mar 2008
35) Mar 2009
36) Mar 2010
37) Mar 2011
38) Mar 2012
39) Mar 2013
40) Mar 2014
41) Mar 2015
42) Mar 2016
43) Mar 2017
44)
45) Mar 2006
46) Mar 2007
47) Mar 2008
48) Mar 2009
49) Mar 2010
50) Mar 2011
51) Mar 2012
52) Mar 2013
53) Mar 2014
54) Mar 2015
55) Mar 2016
56) Mar 2017
57)
58) Mar 2006
59) Mar 2007
60) Mar 2008
61) Mar 2009
62) Mar 2010
63) Mar 2011
64) Mar 2012
65) Mar 2013
66) Mar 2014
67) Mar 2015
68) Mar 2016
69) Mar 2017

In [7]:
#removing unwanted words
all_headers_new = []

for t in all_headers:
    if t=='Compounded Sales Growth' or t=='Compounded Profit Growth' or t=='Stock Price CAGR' or t=='Return on Equity':
        print("skipping")
    else:
        all_headers_new.append(t)

skipping
skipping
skipping
skipping

In [8]:
all_headers_new

['',
 'Sep 2014',
 'Dec 2014',
 'Mar 2015',
 'Jun 2015',
 'Sep 2015',
 'Dec 2015',
 'Mar 2016',
 'Jun 2016',
 'Sep 2016',
 'Dec 2016',
 'Mar 2017',
 'Jun 2017',
 '',
 'Mar 2006',
 'Mar 2007',
 'Mar 2008',
 'Mar 2009',
 'Mar 2010',
 'Mar 2011',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017',
 'TTM',
 '',
 'Mar 2006',
 'Mar 2007',
 'Mar 2008',
 'Mar 2009',
 'Mar 2010',
 'Mar 2011',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017',
 '',
 'Mar 2006',
 'Mar 2007',
 'Mar 2008',
 'Mar 2009',
 'Mar 2010',
 'Mar 2011',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017',
 '',
 'Mar 2006',
 'Mar 2007',
 'Mar 2008',
 'Mar 2009',
 'Mar 2010',
 'Mar 2011',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017']

In [9]:
Quarters =        []
Profit_and_Loss = []
Balance_Sheet =   []
Cash_Flow =       []
Ratios =          []

count = 0
for h in all_headers_new:
    if h=='':
        count = count + 1
    else:
        if(count==1):
            Quarters.append(h)
        if(count==2):
            Profit_and_Loss.append(h)
        if(count==3):
            Balance_Sheet.append(h)
        if(count==4):
            Cash_Flow.append(h)
        if(count==5):
            Ratios.append(h)

In [10]:
#j2p
Balance_Sheet

['Mar 2006',
 'Mar 2007',
 'Mar 2008',
 'Mar 2009',
 'Mar 2010',
 'Mar 2011',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017']

In [11]:
#create 5 empty data frames for 5 tables (and adding column name)
#adding rows and naming of rows are still left
df_Quarters = pd.DataFrame(columns=Quarters)
df_Profit_and_Loss = pd.DataFrame(columns=Profit_and_Loss)
df_Balance_Sheet = pd.DataFrame(columns=Balance_Sheet)
df_Cash_Flow = pd.DataFrame(columns=Cash_Flow)
df_Ratios = pd.DataFrame(columns=Ratios)

In [12]:
#j2p
df_Balance_Sheet

Empty DataFrame
Columns: [Mar 2006, Mar 2007, Mar 2008, Mar 2009, Mar 2010, Mar 2011, Mar 2012, Mar 2013, Mar 2014, Mar 2015, Mar 2016, Mar 2017]
Index: []

In [13]:
#find all html source of tables
temp=soup.find_all('td') #try td also

#to make list of tables in a html
all_rows = []

for i,t in enumerate(temp):
    print (str(i)+") "+str(t.getText()))
    all_rows.append(t.getText())

0)

            Sales +


1) 0.00
2) 0.00
3) 0.00
4) 0.00
5) 0.00
6) 0.00
7) 0.00
8) 0.00
9) 0.00
10) 0.00
11) 0.00
12) 0.00
13)

            Expenses +


14) 0.15
15) 0.10
16) 0.15
17) 0.10
18) 0.15
19) 0.13
20) 0.09
21) 0.07
22) 0.17
23) 0.08
24) 0.35
25) 0.08
26)

          Operating Profit


27) -0.15
28) -0.10
29) -0.15
30) -0.10
31) -0.15
32) -0.13
33) -0.09
34) -0.07
35) -0.17
36) -0.08
37) -0.35
38) -0.08
39)

          OPM %


40)
41)
42)
43)
44)
45)
46)
47)
48)
49)
50)
51)
52)

          Other Income


53) 0.05
54) 0.00
55) 0.00
56) 0.00
57) 0.00
58) 0.00
59) 0.00
60) 0.00
61) 0.00
62) 0.00
63) 0.13
64) 0.00
65)

          Interest


66) 0.00
67) 0.00
68) 0.00
69) 0.00
70) 0.00
71) 0.00
72) 0.00
73) 0.00
74) 0.00
75) 0.00
76) 0.00
77) 0.01
78)

          Depreciation


79) 0.00
80) 0.00
81) 0.00
82) 0.00
83) 0.00
84) 0.00
85) 0.00
86) 0.00
87) 0.00
88) 0.00
89) 0.00
90) 0.00
91)

          Profit before tax


92) -0.10
93) -0.10
94) -0.15
95) -0.10
96) -0.15
97) -0.13
98) -0.09
99) -0.07
100) -0.17
101) -0.08
102) -0.22
103) -0.09
104)

          Tax %


105) -0.00%
106) -0.00%
107) -0.00%
108) -0.00%
109) -0.00%
110) -0.00%
111) -0.00%
112) -0.00%
113) -0.00%
114) -0.00%
115) -0.00%
116) -0.00%
117)

          Net Profit


118) -0.10
119) -0.10
120) -0.15
121) -0.10
122) -0.15
123) -0.13
124) -0.09
125) -0.07
126) -0.17
127) -0.08
128) -0.22
129) -0.09
130)

          EPS in Rs


131)
132)
133)
134)
135)
136)
137)
138)
139)
140) -0.04
141) -0.11
142) -0.04
143)
144)

              Notes


145)

              Notes


146)

              Notes


147)

              Notes


148)

              Notes


149)

              Notes


150)

              Notes


151)

              Notes


152)

              Notes


153)

              Notes


154)

              Notes


155)

              Notes


156)

            Sales +


157) 0.22
158) 0.25
159) -0.14
160) -1.05
161) 0.39
162) 2.40
163) 2.81
164) 0.01
165) 0.01
166) 0.00
167) 0.00
168) 0.00
169) 0.00
170)

            Expenses +


171) 0.78
172) 0.99
173) 1.90
174) 1.05
175) 0.92
176) 1.27
177) 2.74
178) 0.43
179) 0.47
180) 0.49
181) 0.47
182) 0.43
183) 0.68
184)

          Operating Profit


185) -0.56
186) -0.74
187) -2.04
188) -2.10
189) -0.53
190) 1.13
191) 0.07
192) -0.42
193) -0.46
194) -0.49
195) -0.47
196) -0.43
197) -0.68
198)

          OPM %


199) -254.55%
200) -296.00%
201) 1,457.14%
202) 200.00%
203) -135.90%
204) 47.08%
205) 2.49%
206) -4,200.00%
207) -4,600.00%
208)
209)
210)
211)
212)

          Other Income


213) 4.64
214) -5.85
215) 4.05
216) 0.03
217) 1.56
218) 0.00
219) 1.35
220) 0.00
221) 0.03
222) 0.05
223) 0.00
224) 0.13
225) 0.13
226)

          Interest


227) 0.00
228) 0.35
229) 0.01
230) 0.26
231) 0.00
232) 0.00
233) 0.00
234) 0.00
235) 0.00
236) 0.00
237) 0.00
238) 0.00
239) 0.01
240)

          Depreciation


241) 0.74
242) 1.29
243) 0.61
244) 0.07
245) 0.02
246) 0.01
247) 0.05
248) 0.00
249) 0.00
250) 0.00
251) 0.00
252) 0.00
253) 0.00
254)

          Profit before tax


255) 3.34
256) -8.23
257) 1.39
258) -2.40
259) 1.01
260) 1.12
261) 1.37
262) -0.42
263) -0.43
264) -0.44
265) -0.47
266) -0.30
267) -0.56
268)

          Tax %


269) 0.30%
270) -0.12%
271) 60.43%
272) -0.42%
273) 0.00%
274) 0.00%
275) 0.00%
276) -0.00%
277) -0.00%
278) -0.00%
279) -0.00%
280) -0.00%
281)
282)

          Net Profit


283) 3.33
284) -8.24
285) 0.55
286) -2.41
287) 1.01
288) 1.12
289) 1.37
290) -0.43
291) -0.43
292) -0.44
293) -0.47
294) -0.30
295) -0.56
296)

          EPS in Rs


297)
298)
299)
300)
301)
302)
303)
304)
305)
306)
307)
308) 0.00
309)
310)

          Dividend Payout %


311) 0.00%
312) -0.00%
313) 0.00%
314) -0.00%
315) 0.00%
316) 0.00%
317) 0.00%
318) -0.00%
319) -0.00%
320) -0.00%
321) -0.00%
322) -0.00%
323) 10 Years:
324) %
325) 5 Years:
326) %
327) 3 Years:
328) %
329) TTM:
330) None%
331) 10 Years:
332) 6.48%
333) 5 Years:
334) %
335) 3 Years:
336) 9.20%
337) TTM:
338) -27.27%
339) 10 Years:
340) %
341) 5 Years:
342) %
343) 3 Years:
344) %
345) 1 Year:
346) %
347) 10 Years:
348) %
349) 5 Years:
350) %
351) 3 Years:
352) %
353) Last Year:
354) None%
355)

            Share Capital +


356) 19.42
357) 19.42
358) 19.42
359) 19.42
360) 19.42
361) 19.42
362) 19.42
363) 19.42
364) 19.42
365) 19.42
366) 19.42
367) 19.42
368)

          Reserves


369) -38.27
370) -134.06
371) -39.30
372) -41.71
373) -40.70
374) -39.58
375) -38.21
376) -38.64
377) -39.07
378) -39.52
379) -39.99
380) -40.29
381)

          Borrowings


382) 32.23
383) 112.33
384) 13.50
385) 12.86
386) 12.44
387) 10.15
388) 9.41
389) 9.56
390) 9.91
391) 10.34
392) 10.73
393) 10.98
394)

            Other Liabilities +


395) 61.85
396) 56.65
397) 57.28
398) 57.68
399) 10.25
400) 53.42
401) 43.00
402) 44.23
403) 44.14
404) 44.12
405) 44.13
406) 9.98
407)

          Total Liabilities


408) 75.23
409) 54.34
410) 50.90
411) 48.25
412) 1.41
413) 43.41
414) 33.62
415) 34.57
416) 34.40
417) 34.36
418) 34.29
419) 0.09
420)

            Fixed Assets +


421) 9.61
422) 0.84
423) 0.73
424) 0.67
425) 0.33
426) 0.17
427) 0.12
428) 0.12
429) 0.12
430) 0.07
431) 0.07
432) 0.07
433)

          CWIP


434) 0.00
435) 0.00
436) 0.00
437) 0.00
438) 0.00
439) 0.00
440) 0.00
441) 0.00
442) 0.00
443) 0.00
444) 0.00
445) 0.00
446)

          Investments


447) 0.94
448) 0.95
449) 0.93
450) 0.88
451) 0.85
452) 0.00
453) 0.00
454) 0.00
455) 0.00
456) 0.00
457) 0.00
458) 0.00
459)

            Other Assets +


460) 64.68
461) 52.55
462) 49.24
463) 46.70
464) 0.23
465) 43.24
466) 33.50
467) 34.45
468) 34.28
469) 34.29
470) 34.22
471) 0.02
472)

          Total Assets


473) 75.23
474) 54.34
475) 50.90
476) 48.25
477) 1.41
478) 43.41
479) 33.62
480) 34.57
481) 34.40
482) 34.36
483) 34.29
484) 0.09
485)

            Cash from Operating Activity +


486) 12.61
487) 4.68
488) 3.83
489) 0.02
490) 0.13
491) 2.03
492) 0.70
493) -0.42
494) -0.48
495) -0.52
496) -0.36
497) -0.27
498)

            Cash from Investing Activity +


499) 12.19
500) 1.79
501) 0.07
502) 0.12
503) 0.07
504) 0.05
505) 0.44
506) 0.00
507) 0.00
508) 0.08
509) 0.00
510) 0.00
511)

            Cash from Financing Activity +


512) -24.61
513) -7.45
514) -4.61
515) -0.64
516) -0.42
517) -2.29
518) -0.74
519) 0.16
520) 0.35
521) 0.43
522) 0.39
523) 0.25
524)

          Net Cash Flow


525) 0.19
526) -0.98
527) -0.71
528) -0.50
529) -0.22
530) -0.21
531) 0.40
532) -0.26
533) -0.13
534) -0.01
535) 0.02
536) -0.02
537)

          ROCE %


538)
539) -36.68%
540)
541)
542)
543)
544)
545)
546)
547)
548)
549)
550)

          Debtor Days


551) 72,336.36
552) 62,444.20
553) -105,458.93
554) -13,511.95
555) 0.00
556) 5,589.06
557) 4,295.57
558) 1,251,220.00
559) 1,250,125.00
560)
561)
562)
563)

          Inventory Turnover


564)
565)
566)
567)
568)
569)
570)
571)
572)
573)
574)
575)

In [14]:
all_rows

['\n\n            Sales\xa0+\n\n',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n\n            Expenses\xa0+\n\n',
 '0.15',
 '0.10',
 '0.15',
 '0.10',
 '0.15',
 '0.13',
 '0.09',
 '0.07',
 '0.17',
 '0.08',
 '0.35',
 '0.08',
 '\n          \n          Operating Profit\n          \n        ',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.35',
 '-0.08',
 '\n          \n          OPM %\n          \n        ',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '\n          \n          Other Income\n          \n        ',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.13',
 '0.00',
 '\n          \n          Interest\n          \n        ',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 '\n          \n          Depreciation\n          \n        ',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n          \n          Profit before tax\n          \n        ',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 '\n          \n          Tax %\n          \n        ',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '\n          \n          Net Profit\n          \n        ',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 '\n          \n          EPS in Rs\n          \n        ',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '-0.04',
 '-0.11',
 '-0.04',
 '',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n              Notes\n          \n',
 '\n\n            Sales\xa0+\n\n',
 '0.22',
 '0.25',
 '-0.14',
 '-1.05',
 '0.39',
 '2.40',
 '2.81',
 '0.01',
 '0.01',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n\n            Expenses\xa0+\n\n',
 '0.78',
 '0.99',
 '1.90',
 '1.05',
 '0.92',
 '1.27',
 '2.74',
 '0.43',
 '0.47',
 '0.49',
 '0.47',
 '0.43',
 '0.68',
 '\n          \n          Operating Profit\n          \n        ',
 '-0.56',
 '-0.74',
 '-2.04',
 '-2.10',
 '-0.53',
 '1.13',
 '0.07',
 '-0.42',
 '-0.46',
 '-0.49',
 '-0.47',
 '-0.43',
 '-0.68',
 '\n          \n          OPM %\n          \n        ',
 '-254.55%',
 '-296.00%',
 '1,457.14%',
 '200.00%',
 '-135.90%',
 '47.08%',
 '2.49%',
 '-4,200.00%',
 '-4,600.00%',
 '',
 '',
 '',
 '',
 '\n          \n          Other Income\n          \n        ',
 '4.64',
 '-5.85',
 '4.05',
 '0.03',
 '1.56',
 '0.00',
 '1.35',
 '0.00',
 '0.03',
 '0.05',
 '0.00',
 '0.13',
 '0.13',
 '\n          \n          Interest\n          \n        ',
 '0.00',
 '0.35',
 '0.01',
 '0.26',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 '\n          \n          Depreciation\n          \n        ',
 '0.74',
 '1.29',
 '0.61',
 '0.07',
 '0.02',
 '0.01',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n          \n          Profit before tax\n          \n        ',
 '3.34',
 '-8.23',
 '1.39',
 '-2.40',
 '1.01',
 '1.12',
 '1.37',
 '-0.42',
 '-0.43',
 '-0.44',
 '-0.47',
 '-0.30',
 '-0.56',
 '\n          \n          Tax %\n          \n        ',
 '0.30%',
 '-0.12%',
 '60.43%',
 '-0.42%',
 '0.00%',
 '0.00%',
 '0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '',
 '\n          \n          Net Profit\n          \n        ',
 '3.33',
 '-8.24',
 '0.55',
 '-2.41',
 '1.01',
 '1.12',
 '1.37',
 '-0.43',
 '-0.43',
 '-0.44',
 '-0.47',
 '-0.30',
 '-0.56',
 '\n          \n          EPS in Rs\n          \n        ',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '0.00',
 '',
 '\n          \n          Dividend Payout %\n          \n        ',
 '0.00%',
 '-0.00%',
 '0.00%',
 '-0.00%',
 '0.00%',
 '0.00%',
 '0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 'TTM:',
 'None%',
 '10 Years:',
 '6.48%',
 '5 Years:',
 '%',
 '3 Years:',
 '9.20%',
 'TTM:',
 '-27.27%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 '1 Year:',
 '%',
 '10 Years:',
 '%',
 '5 Years:',
 '%',
 '3 Years:',
 '%',
 'Last Year:',
 'None%',
 '\n\n            Share Capital\xa0+\n\n',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '\n          \n          Reserves\n          \n        ',
 '-38.27',
 '-134.06',
 '-39.30',
 '-41.71',
 '-40.70',
 '-39.58',
 '-38.21',
 '-38.64',
 '-39.07',
 '-39.52',
 '-39.99',
 '-40.29',
 '\n          \n          Borrowings\n          \n        ',
 '32.23',
 '112.33',
 '13.50',
 '12.86',
 '12.44',
 '10.15',
 '9.41',
 '9.56',
 '9.91',
 '10.34',
 '10.73',
 '10.98',
 '\n\n            Other Liabilities\xa0+\n\n',
 '61.85',
 '56.65',
 '57.28',
 '57.68',
 '10.25',
 '53.42',
 '43.00',
 '44.23',
 '44.14',
 '44.12',
 '44.13',
 '9.98',
 '\n          \n          Total Liabilities\n          \n        ',
 '75.23',
 '54.34',
 '50.90',
 '48.25',
 '1.41',
 '43.41',
 '33.62',
 '34.57',
 '34.40',
 '34.36',
 '34.29',
 '0.09',
 '\n\n            Fixed Assets\xa0+\n\n',
 '9.61',
 '0.84',
 '0.73',
 '0.67',
 '0.33',
 '0.17',
 '0.12',
 '0.12',
 '0.12',
 '0.07',
 '0.07',
 '0.07',
 '\n          \n          CWIP\n          \n        ',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n          \n          Investments\n          \n        ',
 '0.94',
 '0.95',
 '0.93',
 '0.88',
 '0.85',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '\n\n            Other Assets\xa0+\n\n',
 '64.68',
 '52.55',
 '49.24',
 '46.70',
 '0.23',
 '43.24',
 '33.50',
 '34.45',
 '34.28',
 '34.29',
 '34.22',
 '0.02',
 '\n          \n          Total Assets\n          \n        ',
 '75.23',
 '54.34',
 '50.90',
 '48.25',
 '1.41',
 '43.41',
 '33.62',
 '34.57',
 '34.40',
 '34.36',
 '34.29',
 '0.09',
 '\n\n            Cash from Operating Activity\xa0+\n\n',
 '12.61',
 '4.68',
 '3.83',
 '0.02',
 '0.13',
 '2.03',
 '0.70',
 '-0.42',
 '-0.48',
 '-0.52',
 '-0.36',
 '-0.27',
 '\n\n            Cash from Investing Activity\xa0+\n\n',
 '12.19',
 '1.79',
 '0.07',
 '0.12',
 '0.07',
 '0.05',
 '0.44',
 '0.00',
 '0.00',
 '0.08',
 '0.00',
 '0.00',
 '\n\n            Cash from Financing Activity\xa0+\n\n',
 '-24.61',
 '-7.45',
 '-4.61',
 '-0.64',
 '-0.42',
 '-2.29',
 '-0.74',
 '0.16',
 '0.35',
 '0.43',
 '0.39',
 '0.25',
 '\n          \n          Net Cash Flow\n          \n        ',
 '0.19',
 '-0.98',
 '-0.71',
 '-0.50',
 '-0.22',
 '-0.21',
 '0.40',
 '-0.26',
 '-0.13',
 '-0.01',
 '0.02',
 '-0.02',
 '\n          \n          ROCE %\n          \n        ',
 '',
 '-36.68%',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '\n          \n          Debtor Days\n          \n        ',
 '72,336.36',
 '62,444.20',
 '-105,458.93',
 '-13,511.95',
 '0.00',
 '5,589.06',
 '4,295.57',
 '1,251,220.00',
 '1,250,125.00',
 '',
 '',
 '',
 '\n          \n          Inventory Turnover\n          \n        ',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [15]:
#removing unwanted spaces, tbas,'Notes' etc
all_rows_new = []
remove_next_flag = False

for i in range(len(all_rows)):
    temp = all_rows[i]
    temp = temp.replace('\n','')
    temp = temp.replace('  ','')
    temp = temp.replace('\xa0',' ')

    if(not(temp == "")):
        if(remove_next_flag == True):
            remove_next_flag = False
        elif(temp[-1] == ":"):
            remove_next_flag = True
            continue
        elif(temp == 'Notes'):
            all_rows_new.append('Notes')
        else:
            all_rows_new.append(temp)
    else:
        all_rows_new.append("empty")
    
print(len(all_rows_new))
all_rows_new

544

['Sales +',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Expenses +',
 '0.15',
 '0.10',
 '0.15',
 '0.10',
 '0.15',
 '0.13',
 '0.09',
 '0.07',
 '0.17',
 '0.08',
 '0.35',
 '0.08',
 'Operating Profit',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.35',
 '-0.08',
 'OPM %',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'Other Income',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.13',
 '0.00',
 'Interest',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 'Depreciation',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Profit before tax',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 'Tax %',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 'Net Profit',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 'EPS in Rs',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 '-0.04',
 '-0.11',
 '-0.04',
 'empty',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Sales +',
 '0.22',
 '0.25',
 '-0.14',
 '-1.05',
 '0.39',
 '2.40',
 '2.81',
 '0.01',
 '0.01',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Expenses +',
 '0.78',
 '0.99',
 '1.90',
 '1.05',
 '0.92',
 '1.27',
 '2.74',
 '0.43',
 '0.47',
 '0.49',
 '0.47',
 '0.43',
 '0.68',
 'Operating Profit',
 '-0.56',
 '-0.74',
 '-2.04',
 '-2.10',
 '-0.53',
 '1.13',
 '0.07',
 '-0.42',
 '-0.46',
 '-0.49',
 '-0.47',
 '-0.43',
 '-0.68',
 'OPM %',
 '-254.55%',
 '-296.00%',
 '1,457.14%',
 '200.00%',
 '-135.90%',
 '47.08%',
 '2.49%',
 '-4,200.00%',
 '-4,600.00%',
 'empty',
 'empty',
 'empty',
 'empty',
 'Other Income',
 '4.64',
 '-5.85',
 '4.05',
 '0.03',
 '1.56',
 '0.00',
 '1.35',
 '0.00',
 '0.03',
 '0.05',
 '0.00',
 '0.13',
 '0.13',
 'Interest',
 '0.00',
 '0.35',
 '0.01',
 '0.26',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 'Depreciation',
 '0.74',
 '1.29',
 '0.61',
 '0.07',
 '0.02',
 '0.01',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Profit before tax',
 '3.34',
 '-8.23',
 '1.39',
 '-2.40',
 '1.01',
 '1.12',
 '1.37',
 '-0.42',
 '-0.43',
 '-0.44',
 '-0.47',
 '-0.30',
 '-0.56',
 'Tax %',
 '0.30%',
 '-0.12%',
 '60.43%',
 '-0.42%',
 '0.00%',
 '0.00%',
 '0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 'empty',
 'Net Profit',
 '3.33',
 '-8.24',
 '0.55',
 '-2.41',
 '1.01',
 '1.12',
 '1.37',
 '-0.43',
 '-0.43',
 '-0.44',
 '-0.47',
 '-0.30',
 '-0.56',
 'EPS in Rs',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 '0.00',
 'empty',
 'Dividend Payout %',
 '0.00%',
 '-0.00%',
 '0.00%',
 '-0.00%',
 '0.00%',
 '0.00%',
 '0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 'Share Capital +',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 '19.42',
 'Reserves',
 '-38.27',
 '-134.06',
 '-39.30',
 '-41.71',
 '-40.70',
 '-39.58',
 '-38.21',
 '-38.64',
 '-39.07',
 '-39.52',
 '-39.99',
 '-40.29',
 'Borrowings',
 '32.23',
 '112.33',
 '13.50',
 '12.86',
 '12.44',
 '10.15',
 '9.41',
 '9.56',
 '9.91',
 '10.34',
 '10.73',
 '10.98',
 'Other Liabilities +',
 '61.85',
 '56.65',
 '57.28',
 '57.68',
 '10.25',
 '53.42',
 '43.00',
 '44.23',
 '44.14',
 '44.12',
 '44.13',
 '9.98',
 'Total Liabilities',
 '75.23',
 '54.34',
 '50.90',
 '48.25',
 '1.41',
 '43.41',
 '33.62',
 '34.57',
 '34.40',
 '34.36',
 '34.29',
 '0.09',
 'Fixed Assets +',
 '9.61',
 '0.84',
 '0.73',
 '0.67',
 '0.33',
 '0.17',
 '0.12',
 '0.12',
 '0.12',
 '0.07',
 '0.07',
 '0.07',
 'CWIP',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Investments',
 '0.94',
 '0.95',
 '0.93',
 '0.88',
 '0.85',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Other Assets +',
 '64.68',
 '52.55',
 '49.24',
 '46.70',
 '0.23',
 '43.24',
 '33.50',
 '34.45',
 '34.28',
 '34.29',
 '34.22',
 '0.02',
 'Total Assets',
 '75.23',
 '54.34',
 '50.90',
 '48.25',
 '1.41',
 '43.41',
 '33.62',
 '34.57',
 '34.40',
 '34.36',
 '34.29',
 '0.09',
 'Cash from Operating Activity +',
 '12.61',
 '4.68',
 '3.83',
 '0.02',
 '0.13',
 '2.03',
 '0.70',
 '-0.42',
 '-0.48',
 '-0.52',
 '-0.36',
 '-0.27',
 'Cash from Investing Activity +',
 '12.19',
 '1.79',
 '0.07',
 '0.12',
 '0.07',
 '0.05',
 '0.44',
 '0.00',
 '0.00',
 '0.08',
 '0.00',
 '0.00',
 'Cash from Financing Activity +',
 '-24.61',
 '-7.45',
 '-4.61',
 '-0.64',
 '-0.42',
 '-2.29',
 '-0.74',
 '0.16',
 '0.35',
 '0.43',
 '0.39',
 '0.25',
 'Net Cash Flow',
 '0.19',
 '-0.98',
 '-0.71',
 '-0.50',
 '-0.22',
 '-0.21',
 '0.40',
 '-0.26',
 '-0.13',
 '-0.01',
 '0.02',
 '-0.02',
 'ROCE %',
 'empty',
 '-36.68%',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'Debtor Days',
 '72,336.36',
 '62,444.20',
 '-105,458.93',
 '-13,511.95',
 '0.00',
 '5,589.06',
 '4,295.57',
 '1,251,220.00',
 '1,250,125.00',
 'empty',
 'empty',
 'empty',
 'Inventory Turnover',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty']

In [16]:
row_names = []

for r in all_rows_new:
    if r[0].isdigit() == False and (not (r[0] == "-") and (not r == 'empty')): #if row name comes
        row_names.append(r)
row_names

['Sales +',
 'Expenses +',
 'Operating Profit',
 'OPM %',
 'Other Income',
 'Interest',
 'Depreciation',
 'Profit before tax',
 'Tax %',
 'Net Profit',
 'EPS in Rs',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Notes',
 'Sales +',
 'Expenses +',
 'Operating Profit',
 'OPM %',
 'Other Income',
 'Interest',
 'Depreciation',
 'Profit before tax',
 'Tax %',
 'Net Profit',
 'EPS in Rs',
 'Dividend Payout %',
 'Share Capital +',
 'Reserves',
 'Borrowings',
 'Other Liabilities +',
 'Total Liabilities',
 'Fixed Assets +',
 'CWIP',
 'Investments',
 'Other Assets +',
 'Total Assets',
 'Cash from Operating Activity +',
 'Cash from Investing Activity +',
 'Cash from Financing Activity +',
 'Net Cash Flow',
 'ROCE %',
 'Debtor Days',
 'Inventory Turnover']

In [17]:
#to measure no. of rows in a table
rows_in_each_table = {'Quarters':11, 'Profit & Loss':12, 'Balance Sheet':10, 'Cash Flow':4, 'Ratios':3 }
        
rows_in_each_table

{'Quarters': 11,
 'Profit & Loss': 12,
 'Balance Sheet': 10,
 'Cash Flow': 4,
 'Ratios': 3}

In [18]:
#to measure no. of columns in a table
columns_in_each_table = {'Quarters':len(df_Quarters.columns), 'Profit & Loss':len(df_Profit_and_Loss.columns), 'Balance Sheet':len(df_Balance_Sheet.columns), 'Cash Flow':len(df_Cash_Flow.columns), 'Ratios':len(df_Ratios.columns)}

columns_in_each_table['Quarters']

12

In [19]:
def return_row(all_rows_new):
    temp_row = []
    for r in all_rows_new:
        if r[0].isdigit() == False and (not (r[0] == "-")): #if row name comes
            temp_row = []
        #also assign row name as index name of dataframe
        #print(r)
        else: #if row value comes
            temp_row.append(r)

    return temp_row

In [20]:
#just to check
#list_of_rows = []
#a=[1,2,3,4]
#b=[1,3,5,7]

#list_of_rows.append(a)
#list_of_rows.append(b)

#list_of_rows

In [21]:
#splitting all_rows_new into 5 parts (coz 5 tables)
table1 = []
table2 = []
table3 = []
table4 = []
table5 = []

counter = 0
for r in all_rows_new:
    if r == 'Sales +' or r == 'Share Capital +' or r == 'Cash from Operating Activity +' or r == 'ROCE %':
        counter = counter + 1
    
    if counter == 1:
        table1.append(r)
    if counter == 2:
        table2.append(r)
    if counter == 3:
        table3.append(r)
    if counter == 4:
        table4.append(r)
    if counter == 5:
        table5.append(r)
        
#dropping 12 Notes and 1 blank index name
rangee = columns_in_each_table['Quarters']
for i in range(rangee+1):
    table1.pop()

In [22]:
table1

['Sales +',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Expenses +',
 '0.15',
 '0.10',
 '0.15',
 '0.10',
 '0.15',
 '0.13',
 '0.09',
 '0.07',
 '0.17',
 '0.08',
 '0.35',
 '0.08',
 'Operating Profit',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.35',
 '-0.08',
 'OPM %',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'Other Income',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.13',
 '0.00',
 'Interest',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 'Depreciation',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 'Profit before tax',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 'Tax %',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 'Net Profit',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 'EPS in Rs',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 '-0.04',
 '-0.11',
 '-0.04']

In [23]:
table1_data_only = []
for t in table1:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table1_data_only.append(t)

In [24]:
#for table 1
print(len(table1_data_only))
table1_data_only

132

['0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.15',
 '0.10',
 '0.15',
 '0.10',
 '0.15',
 '0.13',
 '0.09',
 '0.07',
 '0.17',
 '0.08',
 '0.35',
 '0.08',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.35',
 '-0.08',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 '0.05',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.13',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.01',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.00%',
 '-0.10',
 '-0.10',
 '-0.15',
 '-0.10',
 '-0.15',
 '-0.13',
 '-0.09',
 '-0.07',
 '-0.17',
 '-0.08',
 '-0.22',
 '-0.09',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 'empty',
 '-0.04',
 '-0.11',
 '-0.04']

In [25]:
text = "54.5"
type(float(text))

float

In [26]:
count = 0
for i in range(rows_in_each_table['Quarters']):
    temp_row = []
    for j in range(columns_in_each_table['Quarters']):
        temp_element = table1_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Quarters.loc[len(df_Quarters)] = temp_row

In [27]:
#df_Quarters

In [28]:
#now renaming index for table1
df_Quarters = df_Quarters.rename(index={0: 'Sales', 1: 'Expenses',2: 'Operating Profit', 3: 'OPM %',4: 'Other Income', 5: 'Interest',6: 'Depreciation', 7: 'Profit before tax',8: 'Tax %', 9: 'Net Profit', 10: 'EPS in Rs'})
df_Quarters

,Sep 2014,Dec 2014,Mar 2015,Jun 2015,Sep 2015,Dec 2015,Mar 2016,Jun 2016,Sep 2016,Dec 2016,Mar 2017,Jun 2017
Sales,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Expenses,0.15,0.1,0.15,0.1,0.15,0.13,0.09,0.07,0.17,0.08,0.35,0.08
Operating Profit,-0.15,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.35,-0.08
OPM %,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.13,0.00
Interest,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
Depreciation,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Profit before tax,-0.10,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.22,-0.09
Tax %,-0.00,-0.0,-0.00,-0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
Net Profit,-0.10,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.22,-0.09
EPS in Rs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04,-0.11,-0.04

In [29]:
#now table 2

In [30]:
table2_data_only = []
for t in table2:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table2_data_only.append(t)

len(table2_data_only)

155

In [31]:
count = 0
last_index = (rows_in_each_table['Profit & Loss']*columns_in_each_table['Profit & Loss'])-1
for i in range(rows_in_each_table['Profit & Loss']):
    temp_row = []
    for j in range(columns_in_each_table['Profit & Loss']):
        if(count == last_index):
            temp_row.append(np.nan)
            break
        temp_element = table2_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Profit_and_Loss.loc[len(df_Profit_and_Loss)] = temp_row

In [32]:
df_Profit_and_Loss

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,TTM
0,0.22,0.25,-0.14,-1.05,0.39,2.40,2.81,0.01,0.01,0.00,0.00,0.00,0.00
1,0.78,0.99,1.90,1.05,0.92,1.27,2.74,0.43,0.47,0.49,0.47,0.43,0.68
2,-0.56,-0.74,-2.04,-2.10,-0.53,1.13,0.07,-0.42,-0.46,-0.49,-0.47,-0.43,-0.68
3,-254.55,-296.00,1457.14,200.00,-135.90,47.08,2.49,-4200.00,-4600.00,NaN,NaN,NaN,NaN
4,4.64,-5.85,4.05,0.03,1.56,0.00,1.35,0.00,0.03,0.05,0.00,0.13,0.13
5,0.00,0.35,0.01,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
6,0.74,1.29,0.61,0.07,0.02,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
7,3.34,-8.23,1.39,-2.40,1.01,1.12,1.37,-0.42,-0.43,-0.44,-0.47,-0.30,-0.56
8,0.30,-0.12,60.43,-0.42,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN
9,3.33,-8.24,0.55,-2.41,1.01,1.12,1.37,-0.43,-0.43,-0.44,-0.47,-0.30,-0.56
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
11,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN

In [33]:
#now renaming index for table2
df_Profit_and_Loss = df_Profit_and_Loss.rename(index={0: 'Sales', 1: 'Expenses',2: 'Operating Profit', 3: 'OPM %',4: 'Other Income', 5: 'Interest',6: 'Depreciation', 7: 'Profit before tax',8: 'Tax %', 9: 'Net Profit', 10: 'EPS in Rs', 11: 'Dividend Payout %'})
df_Profit_and_Loss

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,TTM
Sales,0.22,0.25,-0.14,-1.05,0.39,2.40,2.81,0.01,0.01,0.00,0.00,0.00,0.00
Expenses,0.78,0.99,1.90,1.05,0.92,1.27,2.74,0.43,0.47,0.49,0.47,0.43,0.68
Operating Profit,-0.56,-0.74,-2.04,-2.10,-0.53,1.13,0.07,-0.42,-0.46,-0.49,-0.47,-0.43,-0.68
OPM %,-254.55,-296.00,1457.14,200.00,-135.90,47.08,2.49,-4200.00,-4600.00,NaN,NaN,NaN,NaN
Other Income,4.64,-5.85,4.05,0.03,1.56,0.00,1.35,0.00,0.03,0.05,0.00,0.13,0.13
Interest,0.00,0.35,0.01,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
Depreciation,0.74,1.29,0.61,0.07,0.02,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
Profit before tax,3.34,-8.23,1.39,-2.40,1.01,1.12,1.37,-0.42,-0.43,-0.44,-0.47,-0.30,-0.56
Tax %,0.30,-0.12,60.43,-0.42,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN
Net Profit,3.33,-8.24,0.55,-2.41,1.01,1.12,1.37,-0.43,-0.43,-0.44,-0.47,-0.30,-0.56
EPS in Rs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
Dividend Payout %,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN

In [34]:
#now table 3

In [35]:
table3_data_only = []
for t in table3:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table3_data_only.append(t)

len(table3_data_only)

120

In [36]:
count = 0
for i in range(rows_in_each_table['Balance Sheet']):
    temp_row = []
    for j in range(columns_in_each_table['Balance Sheet']):
        temp_element = table3_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Balance_Sheet.loc[len(df_Balance_Sheet)] = temp_row

In [37]:
#now renaming index for table3
df_Balance_Sheet = df_Balance_Sheet.rename(index={0: 'Share Capital', 1: 'Reserves',2: 'Borrowings', 3: 'Other Liabilities',4: 'Total Liabilities', 5: 'Fixed Assets',6: 'CWIP', 7: 'Investments',8: 'Other Assets', 9: 'Total Assets'})
df_Balance_Sheet

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
Share Capital,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42
Reserves,-38.27,-134.06,-39.30,-41.71,-40.70,-39.58,-38.21,-38.64,-39.07,-39.52,-39.99,-40.29
Borrowings,32.23,112.33,13.50,12.86,12.44,10.15,9.41,9.56,9.91,10.34,10.73,10.98
Other Liabilities,61.85,56.65,57.28,57.68,10.25,53.42,43.00,44.23,44.14,44.12,44.13,9.98
Total Liabilities,75.23,54.34,50.90,48.25,1.41,43.41,33.62,34.57,34.40,34.36,34.29,0.09
Fixed Assets,9.61,0.84,0.73,0.67,0.33,0.17,0.12,0.12,0.12,0.07,0.07,0.07
CWIP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Investments,0.94,0.95,0.93,0.88,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Assets,64.68,52.55,49.24,46.70,0.23,43.24,33.50,34.45,34.28,34.29,34.22,0.02
Total Assets,75.23,54.34,50.90,48.25,1.41,43.41,33.62,34.57,34.40,34.36,34.29,0.09

In [38]:
#now table 4

In [39]:
table4_data_only = []
for t in table4:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table4_data_only.append(t)

len(table4_data_only)

48

In [40]:
count = 0
for i in range(rows_in_each_table['Cash Flow']):
    temp_row = []
    for j in range(columns_in_each_table['Cash Flow']):
        temp_element = table4_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Cash_Flow.loc[len(df_Cash_Flow)] = temp_row

In [41]:
#now renaming index for table4
df_Cash_Flow = df_Cash_Flow.rename(index={0: 'Cash from Operating Activity', 1: 'Cash from Investing Activity',2: 'Cash from Financing Activity', 3: 'Net Cash Flow'})
df_Cash_Flow

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
Cash from Operating Activity,12.61,4.68,3.83,0.02,0.13,2.03,0.70,-0.42,-0.48,-0.52,-0.36,-0.27
Cash from Investing Activity,12.19,1.79,0.07,0.12,0.07,0.05,0.44,0.00,0.00,0.08,0.00,0.00
Cash from Financing Activity,-24.61,-7.45,-4.61,-0.64,-0.42,-2.29,-0.74,0.16,0.35,0.43,0.39,0.25
Net Cash Flow,0.19,-0.98,-0.71,-0.50,-0.22,-0.21,0.40,-0.26,-0.13,-0.01,0.02,-0.02

In [42]:
#now table 5
table5_data_only = []
for t in table5:
    if t[0].isdigit() == False and (not (t[0] == "-") and (not (t == "empty"))):
        continue
    else:
        table5_data_only.append(t)

len(table5_data_only)

36

In [43]:
count = 0
for i in range(rows_in_each_table['Ratios']):
    temp_row = []
    for j in range(columns_in_each_table['Ratios']):
        temp_element = table5_data_only[count]
        temp_element = temp_element.replace(',','')
        temp_element = temp_element.replace('%','')
        
        if temp_element == 'empty':
            temp_element = np.nan
        
        temp_row.append(float(temp_element))
        count = count + 1
    df_Ratios.loc[len(df_Ratios)] = temp_row

In [44]:
#now renaming index for table5
df_Ratios = df_Ratios.rename(index={0: 'ROCE %', 1: 'Debtor Days',2: 'Inventory Turnover'})
df_Ratios

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
ROCE %,NaN,-36.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debtor Days,72336.36,62444.20,-105458.93,-13511.95,0.0,5589.06,4295.57,1251220.0,1250125.0,NaN,NaN,NaN
Inventory Turnover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dataset = {'Quarters':df_Quarters, 'Profit_and_Loss':df_Profit_and_Loss, 'Balance_Sheet':df_Balance_Sheet, 'Cash_Flow':df_Cash_Flow, 'Ratios':df_Ratios}

In [46]:
# Finally displaying all 5 tables

In [47]:
dataset['Quarters']

,Sep 2014,Dec 2014,Mar 2015,Jun 2015,Sep 2015,Dec 2015,Mar 2016,Jun 2016,Sep 2016,Dec 2016,Mar 2017,Jun 2017
Sales,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Expenses,0.15,0.1,0.15,0.1,0.15,0.13,0.09,0.07,0.17,0.08,0.35,0.08
Operating Profit,-0.15,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.35,-0.08
OPM %,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other Income,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.13,0.00
Interest,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
Depreciation,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Profit before tax,-0.10,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.22,-0.09
Tax %,-0.00,-0.0,-0.00,-0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
Net Profit,-0.10,-0.1,-0.15,-0.1,-0.15,-0.13,-0.09,-0.07,-0.17,-0.08,-0.22,-0.09
EPS in Rs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04,-0.11,-0.04

In [48]:
dataset['Profit_and_Loss']

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,TTM
Sales,0.22,0.25,-0.14,-1.05,0.39,2.40,2.81,0.01,0.01,0.00,0.00,0.00,0.00
Expenses,0.78,0.99,1.90,1.05,0.92,1.27,2.74,0.43,0.47,0.49,0.47,0.43,0.68
Operating Profit,-0.56,-0.74,-2.04,-2.10,-0.53,1.13,0.07,-0.42,-0.46,-0.49,-0.47,-0.43,-0.68
OPM %,-254.55,-296.00,1457.14,200.00,-135.90,47.08,2.49,-4200.00,-4600.00,NaN,NaN,NaN,NaN
Other Income,4.64,-5.85,4.05,0.03,1.56,0.00,1.35,0.00,0.03,0.05,0.00,0.13,0.13
Interest,0.00,0.35,0.01,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01
Depreciation,0.74,1.29,0.61,0.07,0.02,0.01,0.05,0.00,0.00,0.00,0.00,0.00,0.00
Profit before tax,3.34,-8.23,1.39,-2.40,1.01,1.12,1.37,-0.42,-0.43,-0.44,-0.47,-0.30,-0.56
Tax %,0.30,-0.12,60.43,-0.42,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN
Net Profit,3.33,-8.24,0.55,-2.41,1.01,1.12,1.37,-0.43,-0.43,-0.44,-0.47,-0.30,-0.56
EPS in Rs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
Dividend Payout %,0.00,-0.00,0.00,-0.00,0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,NaN

In [49]:
dataset['Balance_Sheet']

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
Share Capital,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42,19.42
Reserves,-38.27,-134.06,-39.30,-41.71,-40.70,-39.58,-38.21,-38.64,-39.07,-39.52,-39.99,-40.29
Borrowings,32.23,112.33,13.50,12.86,12.44,10.15,9.41,9.56,9.91,10.34,10.73,10.98
Other Liabilities,61.85,56.65,57.28,57.68,10.25,53.42,43.00,44.23,44.14,44.12,44.13,9.98
Total Liabilities,75.23,54.34,50.90,48.25,1.41,43.41,33.62,34.57,34.40,34.36,34.29,0.09
Fixed Assets,9.61,0.84,0.73,0.67,0.33,0.17,0.12,0.12,0.12,0.07,0.07,0.07
CWIP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Investments,0.94,0.95,0.93,0.88,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Other Assets,64.68,52.55,49.24,46.70,0.23,43.24,33.50,34.45,34.28,34.29,34.22,0.02
Total Assets,75.23,54.34,50.90,48.25,1.41,43.41,33.62,34.57,34.40,34.36,34.29,0.09

In [50]:
dataset['Cash_Flow']

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
Cash from Operating Activity,12.61,4.68,3.83,0.02,0.13,2.03,0.70,-0.42,-0.48,-0.52,-0.36,-0.27
Cash from Investing Activity,12.19,1.79,0.07,0.12,0.07,0.05,0.44,0.00,0.00,0.08,0.00,0.00
Cash from Financing Activity,-24.61,-7.45,-4.61,-0.64,-0.42,-2.29,-0.74,0.16,0.35,0.43,0.39,0.25
Net Cash Flow,0.19,-0.98,-0.71,-0.50,-0.22,-0.21,0.40,-0.26,-0.13,-0.01,0.02,-0.02

In [51]:
dataset['Ratios']

,Mar 2006,Mar 2007,Mar 2008,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017
ROCE %,NaN,-36.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debtor Days,72336.36,62444.20,-105458.93,-13511.95,0.0,5589.06,4295.57,1251220.0,1250125.0,NaN,NaN,NaN
Inventory Turnover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('datastore\company_data.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
dataset['Quarters'].to_excel(writer, sheet_name='Quarters')
dataset['Profit_and_Loss'].to_excel(writer, sheet_name='Profit_and_Loss')
dataset['Balance_Sheet'].to_excel(writer, sheet_name='Balance_Sheet')
dataset['Cash_Flow'].to_excel(writer, sheet_name='Cash_Flow')
dataset['Ratios'].to_excel(writer, sheet_name='Ratios')

# Close the Pandas Excel writer and output the Excel file.
writer.save()